{% extends "django_comments_xtd/base.html" %}
{% load i18n %}

{% block title %}{% trans "Confirm Deactivation of Profile" %}{% endblock %}

{% block content %}

  <div class="ui fluid card">
    <div class="content">
      <h4>Dear {{request.user.get_full_name}},<br>We do not like to see you leave!!</h4>
      <p>
      Why do you want to leave? Do you have any concerns that needs to be attended to?
    </br>
      Please send a mail to <a href="mailto:{{admin_email}}">{{admin_email}}</a> and it would be attended to.
    </p>


      <form class="ui form" method="post" action=".">
        {% csrf_token %}
        <button type="submit" class="ui negative basic button">Deactivate Profile</button>
      </form>

    </div>
  </div>

  {% endblock %}
