{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Account" %}{% endblock %}

{% block content %}

  <div class="ui fluid card">
    <div class="content">


    <h3>{% trans "E-mail Addresses" %}</h3>
{% if user.emailaddress_set.all %}
<p>{% trans 'The following e-mail addresses are associated with your account:' %}</p>

<form action="{% url 'account_email' %}" class="ui form email_list" method="post">
{% csrf_token %}
<fieldset class="blockLabels">

  {% for emailaddress in user.emailaddress_set.all %}
<div class="ctrlHolder">

      <p>
      <div class="ui radio checkbox">
        <input name="email" type="radio" id="email_radio_{{forloop.counter}}" {% if emailaddress.primary or user.emailaddress_set.count == 1 %}checked="checked"{%endif %} value="{{emailaddress.email}}" />
        <label for="email_radio_{{forloop.counter}}">{{ emailaddress.email }}
      </div>
    {% if emailaddress.verified %}
    <span class="verified">{% trans "Verified" %}</span>
    {% else %}
    <span class="unverified">{% trans "Unverified" %}</span>
    {% endif %}
      {% if emailaddress.primary %}<span class="primary">{% trans "Primary" %}</span>{% endif %}
</label>
</p>

</div>
  {% endfor %}

<br><br>
<div class="buttonHolder">
      <div class="ui three column fields">
        <div class="ui column">
            <button class="ui basic primary button secondaryAction" type="submit" name="action_primary" >{% trans 'Make Primary' %}</button>
        </div>
        <div class="ui column">
            <button class="ui basic secondary button secondaryAction" type="submit" name="action_send" >{% trans 'Re-send Verification' %}</button>
        </div>
        <div class="ui column">
            <button class="ui basic secondary button primaryAction" type="submit" name="action_remove" >{% trans 'Remove' %}</button>
        </div>
      </div>
</div>

</fieldset>
</form>

{% else %}
<p><strong>{% trans 'Warning:'%}</strong> {% trans "You currently do not have any e-mail address set up. You should really add an e-mail address so you can receive notifications, reset your password, etc." %}</p>

{% endif %}


    <h5>{% trans "Add E-mail Address" %}</h5>

    <form class="ui form" method="post" action="{% url 'account_email' %}" class="add_email">
        {% csrf_token %}
        <div class="field {% if form.errors %}error{% endif %}">
          {{ form.as_p }}
        </div>
        <button class="ui basic primary button" name="action_add" type="submit">{% trans "Add E-mail" %}</button>
    </form>

</div>
</div>


{% endblock %}


{% block extra_body %}
<script type="text/javascript">
(function() {
  var message = "{% trans 'Do you really want to remove the selected e-mail address?' %}";
  if (actions.length) {
    var actions = document.getElementsByName('action_remove');
    actions[0].addEventListener("click", function(e) {
      if (! confirm(message)) {
        e.preventDefault();
      }
    });
  }
})();
</script>
{% endblock %}
