{% extends "account/base.html" %}
{% load widget_tweaks %}

{% load i18n %}
{% load account socialaccount %}
{% providers_media_js %}
<a href="{% provider_login_url "facebook" method="js_sdk" %}">Facebook Connect</a>

{% block title %}{% trans "Sign In" %}{% endblock %}
{% block extra_css %}   {% endblock %}
{% block content %}

{% get_providers as socialaccount_providers %}


{% if socialaccount_providers %}
<div class="ui three column equal grid">

<div class="computer tablet only column">
  <a href="{% provider_login_url "facebook" process="login" %}" class="ui facebook button">
  <i class="facebook icon"></i>
  Facebook
</a>
</div>
<div class="mobile only column">
  <a href="{% provider_login_url "facebook" process="login" %}" class="ui facebook button">
  <i class="facebook icon"></i>
</a>
</div>

<div class="computer tablet only column">
  <a href="{% provider_login_url "twitter" process="login" %}" class="ui twitter button">
  <i class="twitter icon"></i>
  Twitter
</a>
</div>
<div class="mobile only column">
  <a href="{% provider_login_url "twitter" process="login" %}" class="ui twitter button">
  <i class="twitter icon"></i>
</a>
</div>

<div class="computer tablet only column">
  <a href="{% provider_login_url "google" process="login" %}" class="ui google plus button">
  <i class="google plus icon"></i>
  Google Plus
</a>
</div>
<div class="mobile only column">
<a href="{% provider_login_url "google" process="login" %}" class="ui google plus button">
  <i class="google plus icon"></i>
</a>
</div>
{% include "socialaccount/snippets/login_extra.html" %}
</div>
{% endif %}

<h4 class="ui horizontal header divider">
  <a href="#">OR</a>
</h4>

<form class="ui form" action="{% url 'account_login' %}" method="POST">{% csrf_token %}
  <h2 class="ui dividing header">Login<span class="small_text"> or <a href={% url 'account_signup' %}>signup</a></span></h2>
  <div class="field {% if form.errors %}error{% endif %}">
    <label>Login</label>
    {{form.login}}
  </div>

  <div class="field {% if form.errors %}error{% endif %}">
    <label>Password</label>
    {{form.password}}
  </div>
  {% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
                <p class="red">{{error|escape}}</p>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
            <p class="red">{{error|escape}}</p>
    {% endfor %}
  {% endif %}


  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" tabindex="0" class="hidden">
      <label>Remember me.</label>
    </div>
  </div>
  <button class="ui basic primary button" type="submit">Get Inside</button>
  {% if redirect_field_value %}
    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <p>
    <a href="{% url 'account_reset_password' %}">Forgot password?</a>
  </p>
</form>

{% endblock %}
