{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Set Password" %}{% endblock %}

{% block content %}

  <div class="ui fluid card">
      <div class="content">

      <h3 class="ui dividing header">{% trans "Set Password" %}</h3>
      <form method="POST" action="{% url 'account_set_password' %}" class="ui form password_set">
        {% csrf_token %}
        <div class="field">
        {{ form.as_p }}
      </div>
        <button class="ui primary basic button" type="submit" name="action">{% trans 'Set Password' %}</button>
    </form>

      </div><!-- End of card -->
    </div>

{% endblock %}
