{% extends "account/base.html" %}
{% load widget_tweaks %}

{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="row">
  <div class="col m3"></div>
  <div class="col m6">
  <div class="card">
    <div class="card-content">

    <h3>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h3>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
        <div class="row">
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                    {% for field in form %}
                      <div class="input-field">

                        {{ field.label_tag }}
                        {{ field}}
                      </div>
                        {% if field.help_text %}
                          <small class="grey-text">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                        <p class="red-text"><strong>{{field.errors}}</strong></p>
                        {% endfor %}

                    {% endfor %}

                      <div class="row">
                        <input type="submit" class="btn btn-lg btn-primary btn-block" name="action" value="{% trans 'change password' %}"/>
                      </div>

                          {% else %}
                              <p>{% trans 'Your password is now changed.' %}</p>
                          {% endif %}

            </form>
        </div>
        {% endif %}
  </div>
</div>
</div>

</div>
{% endblock %}
