{% extends "account/base.html" %}
{% load widget_tweaks %}

{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}

  <div class="ui fluid card">
    <div class="content">

    <h3>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h3>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
        <div class="row">
            <form class="ui form" method="POST" action="{{ action_url }}">
                {% csrf_token %}
                    {% for field in form %}
                      <div class="field {% if field.errors %}{{error}}{% endif %}">

                        {{ field.label_tag }}
                        {{ field}}
                      </div>
                        {% if field.help_text %}
                          <small class="ui grey text">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                        <p class="ui red text"><strong>{{field.errors}}</strong></p>
                        {% endfor %}

                    {% endfor %}

                      <div class="row">
                        <button type="submit" class="ui basic primary button" name="action">{% trans 'change password' %}</button>
                      </div>

                          {% else %}
                              <p>{% trans 'Your password is now changed.' %}</p>
                          {% endif %}

            </form>
        </div>
        {% endif %}
  </div>

</div>


{% endblock %}
