{% extends "account/base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="row">

  <div class="col offset-m3 m6">
    <h3>{% trans "Change Password" %}</h3>

    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
              {% for field in form %}
              <div class="input-group">
              <p>
                {{ field.label_tag }}<br>
                {{ field|add_class:"form-control"}}
                {% if field.help_text %}
                  <small style="color: grey">{{ field.help_text }}</small>
                {% endif %}
              </p>
              <p class="text-danger">{{field.errors}}</p>
              <br/>
                {% endfor %}
              </div>
              <br/>
              <div class="input-group">
                <input type="submit" class="btn btn-lg btn-primary btn-block" name="action" value="{% trans 'change password' %}"/>
                </div>
                  <br/>

    </form>
  </div>

</div><br/>
{% endblock %}
