{% extends "account/base.html" %}
{% load widget_tweaks %}

{% block title %}Profile for {{profile_user.first_name}}{% endblock %}

{% block content %}

<h3 class="ui dividing header">{{ profile_user_name|title }}</h3>
<div class="ui two column grid">
  <div class="column">
    <div class="ui fluid card">
        <div class="content">
          {% if profile_user == request.user %}
          <span class="meta"><a href="{% url 'update_profile'%}">Edit Profile</a></span>
          <span class="right floated meta"><a href="{% url 'deactivate_profile' %}">Deactivate</a></span>
        {% endif %}
       </div>
       <div class="image">
         {% load avatar_tags %}

           {% if profile_user|has_avatar %}
           {% avatar profile_user class="ui small rounded image" %}
             {% if request.user == profile_user %}
               <p><br><a class="ui secondary basic small button" href="{% url 'avatar_delete' %}">Remove avatar</a></p>
             {% endif %}

           {% else %}
           <img src="{{profile_user.profile.profile_image_url}}" width="100%" height=100% class="ui small rounded image" />
           {% endif %}
           {% if request.user == profile_user %}
             <p><a class="ui secondary basic small button" href="{% url 'avatar_change' %}">Change avatar</a></p>
           {% endif %}
      </div>
    </div>
  </div>
  <div class="column">
     <div class="content">
         <table class="ui fluid table">
          <tbody>
            <tr>
              <td>Username</td>
              <td>{{ profile_user.username }}</td>
            </tr>
            <tr>
              <td>Gender</td>
              <td>{{ post.gender|capfirst }}</td>
            </tr>
            {% if profile_user == request.user %}
            <tr>
              <td><i class="attention icon"></i>Email</td>
              <td>
                {{ profile_user.email }}
                <a href={% url 'account_email'%}>Add</a>
              </td>
          </tr>
            <tr>
              <td><i class="attention icon"></i> DoB</td>
              <td>
                {{ post.date_of_birth|date:"M/d" }}
              </td>
            </tr>
            {% endif %}
            <tr>
              <td>Specialization</td>
              <td>{{ post.specialization }}
              </td>
            </tr>
            <tr>
              <td>Location</td>
              <td>{% if post.city %}{{ post.city|capfirst }},{% endif %} {{post.country.name}}
              </td>
            </tr>
            <tr>
              <td>Brief Bio</td>
              <td>{{post.bio}}
              </td>
            </tr>
          </tbody>
        </table>
        {% if profile_user == request.user %}
        <p><i class="attention icon"></i> Only visible to the profile owner.</p>
        {% endif %}
      </div>
  </div>

 </div>
{% endblock content %}

{% block right_content %}
  <h3 class="ui dividing header">Badges</h3>
    <div class="ui fluid card">
        {% if badges %}
          <div class="content">
            <div class="header">Badges</div>
            {% for badge in badges %}
            <div class="text">
              {% with ''|center:badge.rank as range %}
                  {% for _ in range %}<i class="ui blue star icon"></i>{% endfor %}
              {% endwith %}
              {{badge.category|capfirst}} - <a href="{{badge.get_absolute_url}}" data-toggle="tooltip" title="{{badge.description}}">{{badge.name|capfirst}}</a>
            </div>
            {% endfor %}
            {% else %}
            <p>No badge earned yet.</p>
          </div>
            {% endif %}

          <div class="content"><i class="ui basic blue label">{{badges.count}}</i> Badge{{badges.count|pluralize}}</div>

   </div>

{% endblock right_content %}
