{% extends "account/base.html" %}
{% load widget_tweaks %}

{% block title %}Profile for {{profile_user.first_name}}{% endblock %}

{% block content %}

<div class="row">

  <div class="col m7 offset-m1">

            <div class="row">
              <div class="col s12 m7">
                <div class="card">

              <ul class="collection with-header">
                <li class="collection-header"><h4>{{ profile_user_name|title }}</h4>
                  {% if profile_user == request.user %}
                    <a class="yellow btn black-text" href="{% url 'update_profile'%}">Edit Profile</a>
                    {% if request.user == profile_user %}
                    <small class="right"><a class="grey-text"  href="{% url 'deactivate_profile' %}">Deactivate</a></small>
                    {% endif %}
                  {% endif %}
                </li>
                <li class="collection-item">Username <span class="right">{{ profile_user.username }}</span></li>
                <li class="collection-item">Name <span class="right">{{ profile_user.first_name|capfirst }} {% if post.other_name %}{{ post.other_name|capfirst }}{% endif %} {{ profile_user.last_name|capfirst }}</span></li>
                <li class="collection-item">Gender<span class="right">{{ post.gender|capfirst }}</span></li>

              {% if profile_user == request.user %}
                <li class="collection-item"><span class="red-text">*</span>Email:
                  <p class="">{{ profile_user.email }}<br>
                    <span class="blue-text"><a href={% url 'account_email'%}>Add</span></a></p></li>
                <li class="collection-item"><span class="red-text">*</span>DoB:
                  <span class="right">{{ post.date_of_birth }}</span></li>
              {% endif %}
                <li class="collection-item">Participating in
                  <span class="right">
                    {% if post.participation_type.all %}
                      {% for participation in post.participation_type.all %}{{ participation }}{% if not forloop.last %}, {% endif %}{% endfor %}
                    {% else %} Not set
                    {% endif %}
                  </span></li>
                <li class="collection-item">Specialization <span class="right">{{ post.specialization }}</span></li>
                <li class="collection-item">Location <span class="right">{% if post.city %}{{ post.city|capfirst }},{% endif %} {{post.country.name}}</span></li>
                <li class="collection-item">Bio <span class="right">{{post.bio}}</span></li>
              </ul>
                <small><span class="red-text">*<span> Only visible to the account owner</small>
            </div><!-- End of card -->
          </div><!-- End of column -->

              <div class="col m5">
                      {% load avatar_tags %}
                      <div class="card-panel">
                        {% if profile_user|has_avatar %}
                        {% avatar user 150 class="circle responsive-img" %}
                          {% if request.user == profile_user %}
                            <p><a href="{% url 'avatar_delete' %}">Remove avatar</a></p>
                          {% endif %}
                        {% elif profile_user.socialaccount_set.all.0.get_avatar_url %}
                        <img  src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="Default social avater" width="100%" height=100%/>
                        <small class="grey-text">This is your social avatar.</small>
                        {% else %}
                        <img src="{{profile_user.profile.profile_image_url}}" width="100%" height=100% />
                        {% endif %}
                        {% if request.user == profile_user %}
                          <p><a href="{% url 'avatar_change' %}">Change avatar</a></p>
                        {% endif %}
                    </div>

              </div>

            </div><!-- End of row -->

          {% if supported or opposed or moderated or judged %}
            <div class="row">
              <div class="card-panel">
                {% if supported %}
                <h5>Debate on Supporting Side <span class="new badge amber lighten-4 black-text" data-badge-caption="">{{supported.count}}</span></h5>
                {% for debate_list in supported %}
                  <p><a href="{{ debate_list.post.get_absolute_url }}">{{debate_list.post}}</a></p>
                {% endfor %}
                {% endif %}

                {% if opposed %}
                <hr>
                <h5>Debate on Opposing Side <span class="new badge amber lighten-4 black-text" data-badge-caption="">{{opposed.count}}</span></h5>
                {% for debate_list in opposed %}
                  <p><a href="{{ debate_list.post.get_absolute_url }}">{{debate_list.post}}</a></p>
                {% endfor %}
                {% endif %}


                {% if moderated %}
                <hr>
                <h5>Moderated <span class="new badge amber lighten-4 black-text" data-badge-caption="">{{moderated.count}}</span></h5>
                {% for debate_list in moderated %}
                  <p><a href="">{{debate_list.post}}</a></p>
                {% endfor %}
                {% endif %}

                {% if judged %}
                <hr>
                <h5>Judged <span class="new badge amber lighten-4 black-text" data-badge-caption="">{{judged.count}}</span></h5>
                {% for debate_list in judged %}
                  <p><a href="">{{debate_list.post}}</a></p>
                {% endfor %}
                {% endif %}

            </div><!-- End of card -->
          </div><!-- End of row -->
        {% endif %}
      </div><!-- End of main colm7 -->

      <div class="col s12 m3">

        <div class="card">
          <div class="card-content">
            <h6>Stats</h6>

            <p>Won<span class="new badge amber lighten-4 black-text" data-badge-caption="">{{won.count}}</span>
            <br><br>Lost<span class="new badge amber lighten-4 black-text" data-badge-caption="">{{lost.count}}</span>
            <br><br>Draw(s)<span class="new badge amber lighten-4 black-text" data-badge-caption="">{{drew.count}}</span>
            <br><br>Moderated<span class="new badge amber lighten-4 black-text" data-badge-caption="">{{moderated.count}}</span>
            <br><br>Judged<span class="new badge amber lighten-4 black-text" data-badge-caption="">{{judged.count}}</span> </p>
            <hr>
            <p>Debates in Supporting Team<span class="new badge amber lighten-4 black-text" data-badge-caption="">{{supported.count}}</span>
            <br><br>Debates in Opposing Team<span class="new badge amber lighten-4 black-text" data-badge-caption="">{{opposed.count}}</span> </p>
          </div>
          <div class="card-content">Active <span class="new badge amber lighten-4 black-text" data-badge-caption="">{{debate_involved.count}}</span></div>
        </div><!-- End of card -->

        <div class="card">
          <div class="card-content">
            <h6>Badges</h6>

            {% if badges %}
            {% for badge in badges %}
            <p>
              {% with ''|center:badge.rank as range %}
                  {% for _ in range %}<i class="material-icons">star</i>{% endfor %}
              {% endwith %}
              {{badge.category|capfirst}} - <a href="{{badge.get_absolute_url}}" data-toggle="tooltip" title="{{badge.description}}">{{badge.name|capfirst}}</a> </p>
            {% endfor %}
            {% else %}
            <p>No badge earned yet.</p>
            {% endif %}
          </div>
          <div class="card-content">Badges <span class="new badge amber lighten-4 black-text" data-badge-caption="">{{badges.count}}</span></div>
        </div>

        </div><!-- End of colm3 -->

   </div>
    {% endblock %}
