{% extends "account/base.html" %}
{% load widget_tweaks %}
{% load i18n %}

{% load account socialaccount %}
{% providers_media_js %}
<a href="{% provider_login_url "facebook" method="js_sdk" %}">Facebook Connect</a>


{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}
<div class="row">

  <div class="col m6 offset-m3">
      <div class="card-panel">
          {% get_providers as socialaccount_providers %}
          <div class="row">
              <div class="col s12">
                <p class="center-align">Login via your social account. Fast and Easy</p>
              </div>
          </div>
          <div class="row">
            <div class="col s4">
              <a href="/accounts/facebook/login/?process=login" class="btn blue omb_btn-facebook">
                <i class="fa fa-facebook show-on-small"></i>
                <span class="hide-on-small-only">Facebook</span>
              </a>
            </div>
            <div class="col s4">
              <a id="twitter_login" href="/accounts/twitter/login" class="btn blue lighten-3 omb_btn-twitter">
                <i class="fa fa-twitter show-on-small"></i>
                <span class="hide-on-small-only">Twitter</span>
              </a>
            </div>
            <div class="col s4">
              <a id="google_login" href="/accounts/google/login" class="btn red omb_btn-google">
                <i class="fa fa-google-plus show-on-small"></i>
                <span class="hide-on-small-only">Google+</span>
              </a>
            </div>
            {% include "socialaccount/snippets/login_extra.html" %}
          </div>

          <div class="row">
              <div class="col s12">
                <p class="center-align">OR</p>
              </div>
          </div>

          <h5>{% trans "Sign Up" %}</h5>

          <p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

          <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
            {% csrf_token %}
            <div class="row">
              <div class="col m6">
                  <div class="input-field">
                  <p>
                    {{ form.first_name.label_tag }}<br>
                    {{ form.first_name}}
                    {% if field.help_text %}
                      <small style="color: grey">{{ form.first_name.help_text }}</small>
                    {% endif %}
                  </p>
                  <p><strong class="red-text">{{ form.first_name.errors }}</strong></p>
                </div>
              </div>
              <div class="col m6">
                  <div class="input-field">
                  <p>
                    {{ form.last_name.label_tag }}<br>
                    {{ form.last_name}}
                    {% if field.help_text %}
                      <small style="color: grey">{{ form.last_name.help_text }}</small>
                    {% endif %}
                  </p>
                  <p><strong class="red-text">{{ form.last_name.errors }}</strong></p>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col m6">
                  <div class="input-field">
                  <p>
                    {{ form.email.label_tag }}<br>
                    {{ form.email}}
                    {% if form.email.help_text %}
                      <small style="color: grey">{{ form.email.help_text }}</small>
                    {% endif %}
                  </p>
                  <p><strong class="red-text">{{ form.email.errors }}</strong></p>
                </div>
              </div>
              <div class="col m6">
                  <div class="input-field">
                  <p>
                    {{ form.password.label_tag }}<br>
                    {{ form.password}}
                    {% if form.password.help_text %}
                      <small style="color: grey">{{ form.password.help_text }}</small>
                    {% endif %}
                  </p>
                  <p><strong class="red-text">{{ form.password.errors }}</strong></p>
                </div>
              </div>
            </div>


            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
            <button class="blue btn" type="submit">{% trans "Sign Up" %} &raquo;</button>
          </form>


        </div>

    </div>
</div>

{% endblock %}
