{% extends "account/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block title %}{% trans "Signup" %}{% endblock %}

{% block content %}

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<div class="ui three column equal grid">

<div class="computer tablet only column">
<a href="{% provider_login_url "facebook" process="login" %}" class="ui facebook button">
  <i class="facebook icon"></i>
  Facebook
</a>
</div>
<div class="mobile only column">
<a href="{% provider_login_url "facebook" process="login" %}" class="ui facebook button">
  <i class="facebook icon"></i>
</a>
</div>

<div class="computer tablet only column">
<a href="{% provider_login_url "twitter" process="login" %}" class="ui twitter button">
  <i class="twitter icon"></i>
  Twitter
</a>
</div>
<div class="mobile only column">
<a href="{% provider_login_url "twitter" process="login" %}" class="ui twitter button">
  <i class="twitter icon"></i>
</a>
</div>

<div class="computer tablet only column">
<a href="{% provider_login_url "google" process="login" %}" class="ui google plus button">
  <i class="google plus icon"></i>
  Google Plus
</a>
</div>
<div class="mobile only column">
<a href="{% provider_login_url "google" process="login" %}" class="ui google plus button">
  <i class="google plus icon"></i>
</a>
</div>
{% include "socialaccount/snippets/login_extra.html" %}
</div>
{% endif %}

<h4 class="ui horizontal header divider">
  <a href="#">OR</a>
</h4>

<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>

<form class="ui form signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="ui basic primary button" type="submit">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock content %}
