{% extends "account/base.html" %}
{% load widget_tweaks %}

{% block title %}Edit Profile for {{user.get_full_name|title}} {% endblock %}
{% load staticfiles %}

{% block content %}

        <div class="row">
          <div class="col m2"></div>

          <div class="col m7 l5">
            <div class="card">

              <div class="card-content">
                <h4>{{user.get_full_name|title}}</h4>
                <h5>Edit Profile</h5>

                <form method="post" enctype="multipart/form-data">
                  {% csrf_token %}
                {% for field in user_form %}

                  <div class="input-field">
                    {{ field.label_tag }}
                    {{ field}}
                  </div>

                  {% if field.help_text %}
                    <small style="color: grey">{{ field.help_text }}</small>
                  {% endif %}
                  {% for error in field.errors %}
                          <strong class="red-text">{{ error|escape }}</strong>
                  {% endfor %}
                {% endfor %}

            {% for field in profile_form %}
              {% if field.name == "bio" %}
                  <div class="input-field">
                    {{ field.label_tag }}
                    {{ field|add_class:"materialize-textarea"}}
                  </div>
              {% elif field.name == "image" %}

              {% elif field.name == "date_of_birth" %}
              <div class="input-field">
                {{ field.label_tag }}
                {{ field|add_class:"datepicker"}}
                <small>Not visible to others. Used to celebrate birthdays</small>
              </div>
              {% elif field.name == "notify" %}
              <!-- Switch -->
              <div class="switch">
                <label>
                  Off
                  {{ field}}
                  <span class="lever"></span>
                  On
                </label>
              </div>

              {% else %}
                <div class="input-field">
                  {{ field.label_tag }}
                  {{ field}}
                </div>
              {%endif%}
                  {% if field.help_text %}
                    <small class="grey-text">{{ field.help_text }}</small>
                  {% endif %}
                  {% for error in field.errors %}
                          <strong class="red-text">{{ error|escape }}</strong>
                  {% endfor %}

            {% endfor %}
                <div class="row">
                  <button class="btn" type="submit">Save changes</button><br/>
                </div>
              </div>
            </div>
          </div>

              <div class="col m3">

                <div class="card">
                <div class="card-content">
                  <div class="card-content">
                    {% if profile_user.profile.image %}
                    <img src="{{ profile_user.profile.image.thumbnail.200x200 }}" />
                    {% else %}
                    <img src="{{MEDIA_URL}}/images/profile/placeholder.png" width="100%" height=100% />
                    <p class="red-text"><br>Edit your profile picture.</p>
                    {% endif %}
                  </div>
                  <div class="file-field input-field">
                    <div class="btn">
                      <span>Image</span>
                      <input accept="image/*" id="id_image" name="image" type="file">
                    </div>
                    <div class="file-path-wrapper">
                      <input class="file-path validate" type="text">
                    </div>
                  </div>
                  <button class="btn" type="submit">Save changes</button><br/>
                </div>
              </div>
            </form>

            </div><!-- Endo of col m3 -->

            </div>

    {% endblock %}
