{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Verify Your E-mail Address" %}{% endblock %}

{% block content %}

    <div class="ui fluid card">
      <div class="column">
        <div class="header">
        <h3 class="ui dividing header">{% trans "Verify Your E-mail Address" %}</h3>
      </div>

        <div class="description">{% blocktrans %}We have sent an e-mail to you for verification. Follow the link provided to finalize the signup process. Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</div>
      </div>
    </div>

{% endblock %}
