{% extends "discourse/base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load comments %}
{% load comments_xtd %}
{% load avatar_tags %}
{% load martortags %}

{% block title %}Talks - {{post.title}}{% endblock %}

{% block extra_nav %}
  {% if post.author == user %}
  <p>
    <a class="blue" href="{% url 'discourse:edit_post' post.id %}">
        Edit this talk</a>
  </p>
  {% endif %}
{% endblock extra_nav %}

{% block content %}

    {% if post %}

    <div class="ui yellow fluid card">
      <div class="content">
        <div class="right floated meta">{{post.created|naturaltime}}</div>
        <a href="{{post.author.profile.get_absolute_url}}">
          {% if post.author|has_avatar %}
            {% avatar post.author 35 class="ui avatar image" %}
          {% else %}
            <img src="{{post.author.profile.profile_image_url}}" class="ui avatar image" width="35" height="35" />
          {% endif %}
          {{post.author}}</a>
      </div>
      <div class="content">
        <div class="header"><a href="{{post.get_absolute_url}}">{{post.title}}</a></div>
        <br/>
        <div class="meta">
          {% for tag in post.tags.all %}
          <a href="{% url 'discourse:post_list_by_tag' tag.slug  %}" class="ui blue basic label">{{ tag.name }}</a>
          {% endfor %}
          <br>
        </div>
        <div class="description">
          {{post.summary|safe_markdown}}
        </div>
      </div>
      <div class="content">
        <span class="right floated">
          {% if user.is_authenticated %}
            <a class="btn white">
              <i class="heart outline like icon like-button {% if liked %} blue {% else %}grey {% endif %} " name="{{ post.slug }}" value="Like"></i></a>

          <span class="total_likes right">{{ post.total_likes }} like{{ post.total_likes|pluralize }}</span>

        {% else %}
        <a class="btn btn-floating grey tooltipped" data-position="top" data-delay="50" data-tooltip="Login or Signup to like.">
          <i class="heart outline like icon"></i></a>
        <span>{{post.total_likes}} likes</span>
        {% endif %}
        </span>

        <i class="comment icon"></i>
        {% get_comment_count for post as comment_count %}
        {{ comment_count }} comment{{ comment_count|pluralize }}
      </div>
      <div class="extra content">
        {% if post.author == user %}
        <span>
          <a class="small_text" href="{% url 'discourse:edit_post' post.id %}">
              Edit this talk.</a>
        </span>
        {% endif %}
        <span class="right floated">{% include "share_button.html" %}</span>
      </div>
    </div><!-- End of card -->

      {% get_comment_form for post as form %}

      <div class="ui form">
        <div class="field">
          <label>Comment:</label>
          {% include "comments/form.html" %}
        </div>
      </div>

    {% if comment_count %}
    <div class="ui threaded comments">
      <h3 class="ui dividing header">Comments</h3>
          {% render_xtdcomment_tree for post allow_flagging allow_feedback show_feedback  %}
      </div>
    {% endif %}

    {% endif %}
{% endblock content %}

{% block right_content %}

        <a href="{% url 'discourse:new_post' %}">
      <button class="ui primary basic button">New Talk &raquo;</button></a>

    {% if similar_posts %}
    <p class="small_text">Related talks{{similar_posts.count|pluralize}}.</p>
    <ul>
      {% for lists in similar_posts %}
      <li><a class="small_text" href="{{lists.get_absolute_url}}">{{lists|capfirst}}</a></li>
      {% endfor %}
      <li class="divider"></li>
    </ul>
    {% endif %}


    <div class="ui card">
      <div class="content">
      {% if post.count %}
            <p class="small_text">
          Total Followers : <br>{{post.count}} person{{ post.count|pluralize }}.
        </p>
      {% endif %}
      </div>
    </div>

{% endblock right_content %}

{% block extra_js %}
<script>
$('.like-button').click(function(){
      $.ajax({
               type: "POST",
               url: "{% url 'discourse:like-post' %}",
               data: {'slug': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                      // alert(response.message);
                      // alert('Post likes count is now ' + response.likes_count);
                      $(".total_likes").text(response.likes_count  + " likes");
                      if (response.liked){
                        if($(".like-button").hasClass("grey")){
                             $(".like-button").removeClass("grey").addClass("blue");
                           };
                      }else{
                        $(".like-button").removeClass("blue").addClass("grey");
                      };
                },
                error: function(rs, e) {
                       //alert(rs.responseText);
                }

          });

});

$('.like-comment').click(function(ev){
      comment_id = $(this).attr('id')
      liked_id = "liked_"+comment_id
      liked_value = $("#"+liked_id).text()
      //console.log(liked_value)

      $.ajax({

               type: "POST",
               url: "/comments/like/"+comment_id+"/",
               data: {'comment_id': $(this).attr('id'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                 //I could only update it using the error function
                      //liked_value = liked_value + 1
                      //$("#"+liked_id).text(response.total_comment_like);
                },
                error: function(rs, e) {
                    //console.log(rs.responseText);
                      if($('.like-comment').hasClass("liked")){
                          liked_value = Number(liked_value) - 1
                          if (liked_value == -1){ liked_value = 0};
                           $('.like-comment').removeClass("liked");
                           $('.mtl').removeClass("blue").addClass("grey");

                      }else{
                          liked_value = Number(liked_value) + 1

                          $('.like-comment').addClass("liked");
                          $('.mtl').removeClass("grey").addClass("blue");
                        };
                    $("#"+liked_id).text(liked_value);
                    }
          });
});

$('.dislike-comment').click(function(ev){
      comment_id = $(this).attr('id')
      disliked_id = "disliked_"+comment_id
      liked_value = $("#"+disliked_id).text()
      //console.log(liked_value)

      $.ajax({

               type: "POST",
               url: "/comments/dislike/"+comment_id+"/",
               data: {'comment_id': $(this).attr('id'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                 //I could only update it using the error function
                      //liked_value = liked_value + 1
                      //$("#"+liked_id).text(response.total_comment_like);
                },
                error: function(rs, e) {
                    //console.log(rs.responseText);
                      if($('.dislike-comment').hasClass("disliked")){
                          liked_value = Number(liked_value) - 1
                          if (liked_value == -1){ liked_value = 0};
                           $('.dislike-comment').removeClass("disliked");
                           $('.mtdl').removeClass("red-text").addClass("grey");

                      }else{
                          liked_value = Number(liked_value) + 1
                          $('.dislike-comment').addClass("disliked");
                          $('.mtdl').removeClass("grey").addClass("red-text");
                        };
                    $("#"+disliked_id).text(liked_value);
                    }
          });
});

</script>
{% endblock extra_js %}
