{% extends "discourse/base.html" %}
{% load humanize %}
{% load md2 %}
{% load markdownify %}
{% load comments %}
{% load comments_xtd %}
{% load widget_tweaks %}
{% load avatar_tags %}

{% load staticfiles %}

{% block title %}{{post.title}}{% endblock %}

{% block extra_nav %}
  {% if post.author == user %}
  <p>
    <a href="{% url 'discourse:edit_post' post.id %}">
        Edit this post</a>
  </p>
  {% endif %}
{% endblock extra_nav %}



<!-- Main Post details -->
{% block content %}

<div class="row">


  <div class="col m7 offset-m2">
    {% if post %}

    <div class="card">
        <div class="card-content">
          {% for tag in post.tags.all %}
            <a href="{% url 'discourse:post_list_by_tag' tag.slug  %}"><span class="new badge amber lighten-4 black-text" data-badge-caption="">{{ tag.name }}</span></a>
          {% endfor %}
          {% if post.updated != post.created %}<small class="grey-text">Last Edited {{post.updated|naturaltime}}</small>{% endif %}
          <h5 class="blue-text main_title">{{post.title}}</h5>
          <p class="justify">{{post.summary|markdown:"safe, code-friendly, code-color"|linebreaks}}</p>
          {% if post.author == user %}
          <p>
            <a href="{% url 'discourse:edit_post' post.id %}">
                Edit this post</a>
          </p>
          {% endif %}

          {% get_comment_count for post as comment_count %}
          <span class="right">
            <i class="material-icons">comment</i> {{ comment_count }}
          </span>

          <span class="right">
              {% if user.is_authenticated %}

                  <span class="total_likes right">{{ post.total_likes }}</span>
                  <a class="btn-floating waves-effect white"><i class="material-icons like-button
                    {% if liked %} blue-text {% else %} grey-text {% endif %} " name="{{ post.slug }}" value="Like">thumb_up</i></a>

            {% else %}
            <a class="btn-floating tooltipped" data-position="top" data-delay="50" data-tooltip="Login or Signup to like.">
              <i class="material-icons">thumb_up</i></a>
            <span>{{post.total_likes}}</span>
            {% endif %}
          </span>

          {% include "share_button.html" %}

            <p class="grey-text">
            Posted {{post.created|naturaltime}},
            By {{post.author.get_full_name}}</p>
        </div>

      </div><!-- End of card -->


      {% get_comment_form for post as form %}
      {% if user.is_authenticated %}
    <div class="card">
      <div class="row">
          {% include "comments/form.html" %}
      </div>
    </div>
      {% endif %}

    {% if comment_count %}
            {% render_xtdcomment_tree for post allow_flagging allow_feedback show_feedback  %}
    {% endif %}

    {% endif %}

  </div><!-- End of colm7 -->

  <div class="col s12 m3">
    <div class="row">
      <br>
        <a href="{% url 'discourse:new_post' %}">
      <button class="yellow btn black-text">New Discourse</button></a>
    </div>


    {% if post.count %}
          <div class="card-panel">
        Total Followers : <br>{{post.count}} person{{ post.count|pluralize }}.
          </div>

    {% endif %}


 </div>
</div><!-- End of main row -->



<script>
$('.like-button').click(function(){
      $.ajax({
               type: "POST",
               url: "{% url 'discourse:like-post' %}",
               data: {'slug': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                      // alert(response.message);
                      // alert('Post likes count is now ' + response.likes_count);
                      $(".total_likes").text(response.likes_count);
                      if (response.liked){
                        if($(".like-button").hasClass("grey-text")){
                             $(".like-button").removeClass("grey-text").addClass("blue-text");
                           };
                      }else{
                        $(".like-button").removeClass("blue-text").addClass("grey-text");
                      };
                },
                error: function(rs, e) {
                       //alert(rs.responseText);
                }

          });

});

$('.like-comment').click(function(ev){
      comment_id = $(this).attr('id')
      liked_id = "liked_"+comment_id
      liked_value = $("#"+liked_id).text()
      //console.log(liked_value)

      $.ajax({

               type: "POST",
               url: "/comments/like/"+comment_id+"/",
               data: {'comment_id': $(this).attr('id'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                 //I could only update it using the error function
                      //liked_value = liked_value + 1
                      //$("#"+liked_id).text(response.total_comment_like);
                },
                error: function(rs, e) {
                    //console.log(rs.responseText);
                      if($('.like-comment').hasClass("liked")){
                          liked_value = Number(liked_value) - 1
                          if (liked_value == -1){ liked_value = 0};
                           $('.like-comment').removeClass("liked");
                           $('.mtl').removeClass("blue-text").addClass("grey-text");

                      }else{
                          liked_value = Number(liked_value) + 1

                          $('.like-comment').addClass("liked");
                          $('.mtl').removeClass("grey-text").addClass("blue-text");
                        };
                    $("#"+liked_id).text(liked_value);
                    }
          });
});

$('.dislike-comment').click(function(ev){
      comment_id = $(this).attr('id')
      disliked_id = "disliked_"+comment_id
      liked_value = $("#"+disliked_id).text()
      //console.log(liked_value)

      $.ajax({

               type: "POST",
               url: "/comments/dislike/"+comment_id+"/",
               data: {'comment_id': $(this).attr('id'), 'csrfmiddlewaretoken': '{{ csrf_token }}'},
               dataType: "json",
               success: function(response) {
                 //I could only update it using the error function
                      //liked_value = liked_value + 1
                      //$("#"+liked_id).text(response.total_comment_like);
                },
                error: function(rs, e) {
                    //console.log(rs.responseText);
                      if($('.dislike-comment').hasClass("disliked")){
                          liked_value = Number(liked_value) - 1
                          if (liked_value == -1){ liked_value = 0};
                           $('.dislike-comment').removeClass("disliked");
                           $('.mtdl').removeClass("red-text").addClass("grey-text");

                      }else{
                          liked_value = Number(liked_value) + 1
                          $('.dislike-comment').addClass("disliked");
                          $('.mtdl').removeClass("grey-text").addClass("red-text");
                        };
                    $("#"+disliked_id).text(liked_value);
                    }
          });
});

</script>

{% endblock %}
