{% load i18n %}

<ul class="pagination">
  {% if page_obj.has_previous %}
  <li class="waves-effect"><a href="?{{ page_obj.previous_page_number.querystring }}"><i class="material-icons">chevron_left</i></a></li>
  {% else %}
  <li class="disabled"><a href="#!"><i class="material-icons">chevron_left</i></a></li>
  {% endif %}

  {% for page in page_obj.pages %}
      {% if page %}
          {% ifequal page page_obj.number %}
  <li class="waves-effect active"><a href="#!">{{ page }}</a></li>
          {% else %}
  <li class="waves-effect"><a href="?{{ page.querystring }}">{{ page }}</a></li>
          {% endifequal %}
          {% else %}
  <li>...</li>
      {% endif %}
  {% endfor %}
      {% if page_obj.has_next %}
  <li class="waves-effect"><a href="?{{ page_obj.next_page_number.querystring }}"><i class="material-icons">chevron_right</i></a></li>
      {% else %}
  <li class="disabled"><a href="#!"><i class="material-icons">chevron_right</i></a></li>
      {% endif %}
</ul>
