{% extends "discourse/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load markdownify %}
{% block extra_head %} {% endblock extra_head %}
{% block title %}{% if post_id %}Edit talk{% else %}New talk{% endif %}{% endblock %}

{% block content %}

      <h2 class="ui dividing header">
        {% if post_id %}
        Edit this talk.{% else %}Add a new talk.
        {% endif %}
      </h2>

            <form class="ui form" enctype="multipart/form-data" action="." method="post">
              {% csrf_token %}
                <div class="required field">
                    {{ form.title|safe}}
                      <label for="{{ form.title.auto_id }}">{{form.title.label_tag}}</label>
                    </div>

                    {{ form.summary}}
                    {% if form.summary.help_text %}
                    <small class="grey-text">{{ form.summary.help_text|markdownify }}</small>
                    {% endif %}

                    <div class="field">
                      <label>Tags: e.g. music, culture, politics e.t.c.</label>
                      {{ form.tags}}
                    </div>

                  {% if post_id %}
                  <div class="ui row">
                    <button type="submit" class="ui basic secondary button">Update Talk</button>
                        OR <span><a href={% url "discourse:post_list" %}>Return to home</a>
                  </div>
                  {% else %}
                  <div class="ui checkbox">
                    <input type="checkbox" id="verified" required />
                    <label for="verified">I would be responsible for what I post.</label>
                  </div><br><br>

                  <div class="row">
                    <button type="submit" class="ui basic primary button">Add Talk</button>
                    OR <span><a href={% url "discourse:post_list" %}>Return to talks</a>
                  </div>
                  {% endif %}
            </form>
            {{form.media}}

{% endblock %}
