main {
display: flex;
min-height: 100vh;
flex-direction: column;
}

footer {
flex: 1;
}


body {
  background-color:	#F5F5F5
  }

  *{
  	margin: 0;
  	padding: 0;
  }

  body{
  	font-family: 'Open Sans', sans-serif;
  	margin-bottom: 60px;
  }

  .ui.navbar {
  	margin-top: 0px !important;
  }

  .ui.menu {
  	margin-top: 0px !important;
  }


.comment_title {
  font-size: 0.8em;
}

.small_text {
  font-size: 0.8em;
}

.main_title {
  font-size: 1.3em;
}
