{% load l10n %}
{% load i18n %}
{% load comments %}
{% load comments_xtd %}

{% load el_pagination_tags %}
{% paginate comments %}

{% for item in comments %}

{% if item.comment.level == 0 %}
<div class="card">
        <div class="card-content">
{% endif %}

<ul>
<li class="collection-item avatar">
  <a name="c{{ item.comment.id }}" ></a>
  <a href="{{item.comment.user.profile.get_absolute_url}}">
    {% if item.comment.user.profile.image %}
    <img src="{{ item.comment.user.profile.image.thumbnail.25x25 }}" class="circle" />
    {% elif user.socialaccount_set.all.0.get_avatar_url %}
    <img  src="{{ user.socialaccount_set.all.0.get_avatar_url }}" width="25" height=25/>
    {% else %}
    <img src="{{profile_user.profile.profile_image_url}}" width="25" height="25" />
    {% endif %}
  </a>
  <span class="title">
        {{ item.comment.submit_date|localize }}&nbsp;-&nbsp;{% if item.comment.url and not item.comment.is_removed %}<a href="{{ item.comment.url }}" target="_new">{% endif %}{{ item.comment.name }}{% if item.comment.url %}</a>{% endif %}{% if item.comment.user and item.comment.user|has_permission:"django_comments.can_moderate" %}&nbsp;<span class="red-text">{% trans "SuperMod" %}</span>{% endif %}&nbsp;&nbsp;<a class="permalink" title="{% trans 'copy comment link' %}" href="{% get_comment_permalink item.comment %}"><i class="fa fa-share" aria-hidden="true"></i></a>

        {% if not item.comment.is_removed %}
        <span class="right">
          {% if allow_flagging and item.flagged %}
          <span class="red-text flag-comment" title="{% trans 'comment flagged' %}"><i class="tiny material-icons">flag</i></span>
          {% elif allow_flagging %}
          <a class="mutedlink like-comment" href="{% url 'comments-flag' item.comment.pk %}">
            <span title="{% trans 'flag comment' %}"><i class="tiny material-icons">flag</i></span>
            </a>
          {% endif %}
          {% if item.flagged_count %}
          <span class="label label-warning" title="{% blocktrans count counter=item.flagged_count %}A user has flagged this comment as inappropriate.{% plural %}{{ counter }} users have flagged this comment as inappropriate.{% endblocktrans %}">{{ item.flagged_count }}</span>
          {% endif %}

          {% if perms.comments.can_moderate %}
          <a class="mutedlink" href="{% url 'comments-delete' item.comment.pk %}"><span title="{% trans 'remove comment' %}"><i class="fa fa-trash"></i></span></a>
          {% endif %}

        </span>

  </span>
  <p class="blue_text">
              {% if post.debate_category == "closed" %}
                {% for debater in post.supporting_debaters.all %}
                  {% if debater == item.comment.user %}
                    <p class="blue-text">Supporting Debater </p>
                  {% endif%}
                {% endfor%}
                {% for debater in post.opposing_debaters.all %}
                  {% if debater == item.comment.user %}
                    <p class="blue-text">Opposing Debater </p>
                  {% endif%}
                {% endfor%}
                {% for judge in post.judges.all %}
                  {% if judge == item.comment.user %}
                    <p class="blue-text">Judge</p>
                  {% endif%}
                {% endfor%}
              {% endif %}

              {% for mod in post.moderator.all %}
                {% if mod == item.comment.user %}
                  <p class="blue-text">Moderator</p>
                {% endif%}
              {% endfor%}
    </p>
      {% endif %}
      {% if item.comment.is_removed %}
        <p class="grey-text"><em>{% trans "This comment has been removed." %}</em></p>
        {% else %}
        <p>
          {% include "includes/django_comments_xtd/comment_content.html" with content=item.comment.comment %}
        <br>
        <li class="divider"></li>
        {% if allow_feedback %}
        {% include "includes/django_comments_xtd/user_feedback.html" %}
        {% endif %}
        {% if item.comment.allow_thread and not item.comment.is_removed %}
        {% if allow_feedback %}&nbsp;&nbsp;<span class="grey-text">&bull;</span>&nbsp;&nbsp;{% endif %}<a class="grey-text" href="{{ item.comment.get_reply_url }}">{% trans "Reply" %}</a>
        {% endif %}
        {% if request.user == item.comment.user %}
        |<a href="{% url 'delete_my_comment' item.comment.id %}"><span class="grey-text"> Remove</span></a>

        {% endif %}
      {% endif %}
    </p>
</li>
<li class="divider"></li>
</ul>

    {% if not item.comment.is_removed and item.children %}
    <div class="row">
      <div class="col s1"></div>
        <div class="col s11">
            {% render_xtdcomment_tree with comments=item.children %}
        </div>
      </div>

    {% endif %}
{% if item.comment.level == 0 %}
</div><!-- End of card content -->
</div><!-- End of card -->


{% show_pages %}
{% endif %}

{% endfor %}
