{% load l10n %}
{% load i18n %}
{% load comments %}
{% load comments_xtd %}
{% load humanize %}
{% load avatar_tags %}

{% load el_pagination_tags %}
{% paginate comments %}

{% for item in comments %}
  <div class="comment"><a name="c{{ item.comment.id }}" ></a>
    <a href="{{item.comment.user.profile.get_absolute_url}}" class="avatar">
        {% if item.comment.user|has_avatar %}
          {% avatar item.comment.user 35 class="ui avatar circular image" %}
        {% else %}
          <img src="{{item.comment.user.profile.profile_image_url}}" width="35" height="35" />
        {% endif %}
      </a>

    <div class="content">
      <a href="{{item.comment.user.profile.get_absolute_url}}" class="author">{{ item.comment.user }}</a>{% if item.comment.user|has_permission:"django_comments.can_moderate" %}&nbsp;<span class="red">{% trans "SuperMod" %}</span>{% endif %}
      <div class="metadata">
        <span class="date">{{ item.comment.submit_date|naturaltime }}</span>
        &nbsp;-&nbsp;
      {% if not item.comment.is_removed %}
        <a class="permalink" title="{% trans 'copy comment link' %}" href="{% get_comment_permalink item.comment %}"><i class="share icon"></i></a>

              <span class="float right">
                {% if allow_flagging and item.flagged %}
                <span class="red-text flag-comment" title="{% trans 'comment flagged' %}"><i class="flag red icon"></i></span>
                {% elif allow_flagging %}
                <a class="mutedlink like-comment" href="{% url 'comments-flag' item.comment.pk %}">
                  <span title="{% trans 'flag comment' %}"><i class="flag outline icon"></i></span>
                  </a>
                {% endif %}
                {% if item.flagged_count %}
                <span class="label label-warning" title="{% blocktrans count counter=item.flagged_count %}A user has flagged this comment as inappropriate.{% plural %}{{ counter }} users have flagged this comment as inappropriate.{% endblocktrans %}">{{ item.flagged_count }}</span>
                {% endif %}

                {% if perms.comments.can_moderate %}
                <a class="mutedlink" href="{% url 'comments-delete' item.comment.pk %}"><span title="{% trans 'remove comment' %}"><i class="fa fa-trash"></i></span></a>
                {% endif %}
              </span>
      {% endif %}
      </div>

      <div class="text">
        {% if item.comment.is_removed %}
          <em>{% trans "This comment has been removed." %}</em>
          {% else %}
            {% include "includes/django_comments_xtd/comment_content.html" with content=item.comment.comment %}
        {% endif %}
      </div>

      {% if user.is_authenticated and not item.comment.is_removed %}
      <div class="actions">
        {% if allow_feedback %}
          {% include "includes/django_comments_xtd/user_feedback.html" %}
        {% endif %}
        {% if item.comment.allow_thread %}
          {% if allow_feedback %}&nbsp;&nbsp;<span class="grey">&bull;</span>&nbsp;&nbsp;{% endif %}<a class="reply" href="{{ item.comment.get_reply_url }}">{% trans "Reply" %}</a>
        {% endif %}

        {% if request.user == item.comment.user %}
          <span class="grey-">&bull;</span>&nbsp;&nbsp;
          <a href="{% url 'remove_my_comment' item.comment.id %}">Remove</a>
          <span class="grey">&bull;</span>&nbsp;&nbsp;
          <a href="{% url 'edit_my_comment' item.comment.id %}">Edit</a>
        {% endif %}
      </div>
      {% endif %}

    </div><!-- End of content -->
    {% if item.children %}
      <div class="comments">
        {% render_xtdcomment_tree with comments=item.children %}
      </div>
    {% endif %}
  </div>

  {% if item.comment.level == 0 %}
  {% show_pages %}
  {% endif %}

{% endfor %}
