{% extends "django_comments_xtd/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load comments %}
{% load comments_xtd %}
{% load avatar_tags %}
{% load martortags %}

{% block title %}{% trans "Comment reply" %}{% endblock %}

{% block header %}
<a href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object }}</a>
{% endblock %}

{% block content %}
<h3 class="align-center">{% trans "Reply to comment." %}</h3>
<hr/>

<div class="ui comments">
<div class="comment">
  <a class="avatar">
    {% if comment.user|has_avatar %}
      {% avatar comment.user 35 class="ui avatar circular image" %}
    {% else %}
      <img src="{{comment.user.profile.profile_image_url}}" width="35" height="35" />
    {% endif %}
  </a>
  <div class="content">
    <a class="author">{{ comment.user }}</a>
    <a class="time">{{ comment.submit_date|date:"N j, Y, P" }}</a>
    <div class="text">
      {{ comment.comment|safe_markdown }}
    </div>
          {% include "comments/form.html" %}
  </div>
</div>
</div>

{% endblock %}
