{% extends "django_comments_xtd/base.html" %}
{% load staticfiles %}
{% load i18n %}
{% load comments %}
{% load comments_xtd %}

{% block title %}{% trans "Comment reply" %}{% endblock %}

{% block header %}
<a href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object }}</a>
{% endblock %}

{% block content %}
<div class="row">
<div class="col m7 offset-m1">
<h5 class="align-center">{% trans "Reply to comment." %}</h5>
<hr/>

      <div class="card-panel">

    <div class="media">
      <div class="media-left">
        <a href="{{item.comment.user.profile.get_absolute_url}}">
        {% if comment.user.profile.image %}
        <img src="{{ comment.user.profile.image.thumbnail.25x25 }}" class="circle" />
        {% else %}
        <img src="{{ comment.user.profile.profile_image_url }}" width="25" height="25" class="circle"/>
        {% endif %}
      </a>
      </div>
      <div class="media-body">
        <span class="media-heading">
          {{ comment.submit_date|date:"N j, Y, P" }}&nbsp;-&nbsp;
          {% if comment.user_url %}
          <a href="{{ comment.user_url }}" target="_new">{% endif %}
          {{ comment.user_name }}{% if comment.user_url %}</a>{% endif %}
        </span>
        <p>{{ comment.comment }}</p>
      </div>
    </div>
    <div class="hide-on-small-only">
      <hr/>
    </div>

</div>

  {% include "comments/form.html" %}
  </div>
</div>

{% endblock %}
