{% extends "debate/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}

{% block title %}Mod Panel{% endblock %}


{% block content %}

        <div class="row">
          <div class="col m2"></div>
          {% if debaters_supporting or debaters_opposing %}
          <div class="col m7">

            {% if debaters_supporting %}
            <div class="card">

              <div class="card-content">List of Debaters Showing Interest in Supporting
                  <p class="red-text">Approve 5 or less debaters from this category based on your choice.</p>
                  <table class="responsive-table highlight">
                    <thead>
                      <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Specialization</th>
                        <th>Add</th>
                        <th>Remove</th>
                        <th>Approval Status</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for debaters in debaters_supporting %}
                      <tr>
                        <td>{{debaters.name.get_full_name}}</td>
                        <td>{{debaters.name.username}}</td>
                        <td>{{debaters.name.profile.specialization}}</td>
                        <td><button class="btn btn-primary approve {{debaters.name.username}}" name="{{debaters.name.id}}" value="{{debaters.post.id}}" position="{{debaters.debate_position}}" approve="yes">Approve</button></td>
                        <td><button class="btn approve {{debaters.name.username}}" name="{{debaters.name.id}}" value="{{debaters.post.id}}" position="{{debaters.debate_position}}" approve="no">Dispprove</button></td>
                        <td id="approval-{{debaters.name.username}}">
                          {% if debaters.approval_status == True %}
                            approved
                          {% elif debaters.approval_status == False %}
                            not approved
                          {% endif %}
                        </td>
                      </tr>
                        {% endfor %}
                  </tbody>
                  </table>
              </div>
            </div> <!-- End of card -->
            {% endif %}

            {% if debaters_opposing %}
            <div class="card">

              <div class="card-content">List of Debaters Showing Interest in Opposing

                <p class="red-text">Approve 5 or less debaters from this category based on your choice.</p>
                <table class="">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Username</th>
                      <th>Add</th>
                      <th>Remove</th>
                      <th>Approval Status</th>
                  </tr>
                  </thead>
                  <tbody>
                    {% for debaters in debaters_opposing %}
                    <tr>
                      <td>{{debaters.name.get_full_name}}</td>
                      <td>{{debaters.name.username}}</td>
                      <td>{{debaters.name.profile.specialization}}</td>
                      <td><button class="btn btn-primary approve {{debaters.name.username}}" name="{{debaters.name.id}}" value="{{debaters.post.id}}" position="{{debaters.debate_position}}" approve="yes">Approve</button></td>
                      <td><button class="btn approve {{debaters.name.username}}" name="{{debaters.name.id}}" value="{{debaters.post.id}}" position="{{debaters.debate_position}}" approve="no">Disapprove</button></td>
                      <td id="approval-{{debaters.name.username}}">
                        {% if debaters.approval_status == True %}
                          approved
                        {% elif debaters.approval_status == False %}
                          not approved
                        {% endif %}
                      </td>
                    </tr>
                      {% endfor %}
                </tbody>
                </table>
              </div>
            </div><!--  End of card -->
            {% endif %}

          </div>
          {% else %}
          <p>No person has indicated interest in debate yet. Share debate on social media to get the attention it deserves </p>
          {% endif %}

          <div class="col m3">
            <div class="card">
              <div class="card-content">
                <h6>Debate Period for: <br>
                {{related_post.title}} </h6>
                <br>
                <form class="" action="." method="post">
                  {% csrf_token %}
                  <div class="row">
                      <p>Debate Start Date/Time</p>
                      <div class='input-field'>
                        <i class="material-icons prefix">update</i>
                        {% render_field mod_form.begin class+="datetimepicker" %}
                      </div>

                      <p>Debate End Date/Time</p>
                      <div class='input-field'>
                        <i class="material-icons prefix">update</i>
                        {% render_field mod_form.end class+="datetimepicker" %}
                      </div>


                  <p>Vote Start Date/Time</p>
                  <div class='input-field'>
                    <i class="material-icons prefix">update</i>
                    {% render_field mod_form.vote_starts class+="datetimepicker" %}
                  </div>

                  {% for error in mod_form.errors %}
                    <p class="red-text">{{error}}</p>
                  {% endfor %}
                </div>

                  <input type="submit" value="Update Debate Date/Time" class="btn" />
                  <hr>

                  <p>Only edit necessary fields. Do not tamper with debate settings if unsure</p>
                  <p>We believe you have discussed with co-moderators(if any) before changing settings.</p>
                  <p>Return to <a href="{{related_post.get_absolute_url }}">debate</a><p>
                </form>

            </div>
          </div>

          </div>
        </div>

    {% block extra-js %}

    <script>
    $('.approve').click(function(){
          $.ajax({
                   type: "POST",
                   url: "{% url 'debate:approve' %}",
                   data: {'user_id': $(this).attr('name'), 'csrfmiddlewaretoken': '{{ csrf_token }}', 'post_id':$(this).attr('value'), 'position':$(this).attr('position'), 'approve':$(this).attr('approve') },
                   dataType: "json",
                   success: function(response) {
                          //alert(response.message);
                          if (response.approved == 1){
                            $("td#approval-"+response.username).text("approved");
                          }else{
                              $("td#approval-"+response.username).text("not approved");
                          };

                    },
                    error: function(rs, e) {
                           alert(rs.responseText);
                    }
              });
    });
</script>
{% endblock extra-js %}


{% endblock %}
