{% extends "debate/base.html" %}
{% load markdownify %}
{% load widget_tweaks %}


{% block title %}{% if post_id %}Update Debate{% else %}New Debate{% endif %}{% endblock %}
{% load staticfiles %}

{% block content %}

        <div class="row">
          <div class="col s12 m9 offset-m2">
            <div class="card-panel">
              {% if post_id %}
              <h5 class="main_title">Edit this debate or argument.{% else %}Add a new debate or argument.</h5>
              {% endif %}
                <form class="" enctype="multipart/form-data" action="." method="post">
                  {% csrf_token %}
                    <div class="input-field">
                      {{ form.title|safe}}
                      <label for="{{ form.title.auto_id }}">{{form.title.label_tag}}</label>
                    </div>

                    <!-- Text Editor -->
                      {{ form.summary}}

                    {% if form.summary.help_text %}
                    <small class="grey-text">{{ form.summary.help_text|markdownify }}</small>
                    {% endif %}

                    <div class="input-field">
                      {{ form.tags}}
                      <label for="{{ form.tags.auto_id }}">Tags e.g. Music, Culture, Politics e.t.c.</label>
                    </div>

                    <div class="row">
                      <div class="col m3">
                        <label for="{{ form.debate_category.auto_id }}">{{form.debate_category.label_tag}}</label>
                        {{ form.debate_category }}
                        {% if form.debate_category.help_text %}
                        {% endif %}
                      </div>
                      <small class="grey-text">{{ form.debate_category.help_text }}</small>
                    </div>

                  {% if post_id %}
                  <div class="row">
                    <button type="submit" class="btn">Update Debate</button>
                    OR <span><a href={% url "debate:debate_detail" post_id=post_id category=None post_slug=None  %}>Return to debate</a>
                  </div>
                  {% else %}
                  <p>
                    <input type="checkbox" id="verified" required />
                    <label for="verified">I have read the <a href="{% url 'debate:rules_guidelines' %}">terms of posting debates</a> and willing to abide.</label>
                  </p>

                  <div class="row">
                    <button type="submit" class="yellow btn black-text">Add Debate</button>
                    OR <span><a href={% url "debate:debate_list" %}>Return to home</a>
                  </div>
                  {% endif %}
            </form>
            {{form.media}}

        </div><!-- End of card -->


      </div>

        </div>

{% endblock %}
