{% extends "debate/base.html" %}
{% load widget_tweaks %}

{% block title %}Score Debate{% endblock %}
{% load staticfiles %}

{% block content %}

        <div class="row">
          <div class="col m3"></div>

          <div class="col m6">
            <div class="card">
              <div class="card-content">
              {% if scored %}
              <h5>Debate Scores and Vote Count</h5>
              {% else %}
              <h5>Score Debate for both teams</h5>
              {% endif %}

              {% if scored %}
                  <br/>
                  <h5>Debate Topic</h5>
                  <p>{{ post.post }}</p><hr>
                  <p>Highest Possible Raw Judge Score: {{ post.highest_score }}</p>
                  <p>Supporting Side Raw Score: {{ post.supporting_score }}</p>
                  <p>Opposing Side Raw Score: {{post.opposing_score }}</p>
                  <p>Observations</p>
                  {% if post.observation %}
                  <p>{{post.observation | linebreaks}}</p>
                  {% else %}
                  <p>No recorded observation or anomaly</p>
                  {% endif %}

              {% if calculated %}
                  <hr>
                  <p>Total Votes for Supporting Team: {{post.supporting_vote }}</p>
                  <p>Total Votes for Opposing Team: {{post.opposing_vote }}</p>
                  <hr>
                  <p>Judge Score for Supporting Side over {{post.judge_percent_share}}: {{judge_support_percent}}</p>
                  <p>Judge Score for Opposing Side over {{post.judge_percent_share}}: {{judge_support_percent}}</p>
                  <p>Votes Score for Supporting Side over {{post.vote_percent_share}}: {{vote_support_percent}}</p>
                  <p>Votes Score for Opposing Side over {{post.vote_percent_share}}: {{vote_oppose_percent}}</p>
                  <hr>

                  <p>Suppoting Team Score: {{supporting_team_percent_score}} %</p>
                  <p>Opposing Team Score: {{opposing_team_percent_score}} %</p>
                  <hr>
                  <p>Winner of Debate</p>
                  {% if supporting_team_percent_score > opposing_team_percent_score  %}
                  <p>Supporting Team Wins</p>
                  {% elif supporting_team_percent_score == opposing_team_percent_score %}
                  <p>Debate ends in a stale</p>
                  {% elif supporting_team_percent_score < opposing_team_percent_score %}
                  <p>Opposing Team Wins</p>
                  {% endif %}

              {% endif %}
                  <p>Return to <a href="{{ related_post.get_absolute_url }}">debate</a><p>

              {% else %}
                <h6 class="blue-text">Debate Topic:<br>
                {{related_post.title}} </h6>
                <br>
                <form class="" action="." method="post">
                  {% csrf_token %}
                  <div class="input-field">
                  <p>Supporting Side Score:</p>
                    <p class="range-field">
                      <input type="range" name = "supporting_score" id="id_supporting_score" min="0.1" max="30" Step = 0.1 />
                    </p>
                </div>
                  <div class="input-field">
                  <p>Opposing Side Score:</p>
                  <p class="range-field">
                    <input type="range" name = "opposing_score" id="id_opposing_score" min="0.1" max="30" Step = 0.1 />
                  </p>
                </div>
                <div class="input-field">
                  <p>Highest Score Possible (Default: 10):</p>
                  <p class="range-field">
                    <input type="range" name = "highest_score" id="id_highest_score" min="0" max="30" />
                  </p>
                </div>
                <div class="input-field">
                  {% render_field score_form.observation class+="materialize-textarea" %}<br>
                  <label for="id_observation">Debate Score Summary and Observations.</label>
                </div>
                  {% for error in score_form.errors%}
                  <p><strong class=red-text>{{error}}</strong></p>
                  {% endfor%}
                </div>

                <div class="card-content">
                    <div class="input-field">
                    <p>Voters Percent Share(Default: 70%)</p>
                    <p class="range-field">
                      <input type="range" name = "vote_percent_share" disabled="disabled" id="id_vote_percent_share" min="0" max="100" />
                    </p>
                  </div>
                  <div class="input-field">
                    <p>Judges Percent Share(Default: 30%)</p>
                    <p class="range-field">
                      <input type="range" name = "judge_percent_share" disabled="disabled" id="id_judge_percent_share" min="0" max="100" />
                    </p>
                  </div>
                  <p>Both currently disabled. Would be enabled in the future.</p>
                <div class="row">
                  <p>
                    <input type="checkbox" id="verified" required />
                    <label for="verified">I have verified the scores and willing to add it.</label>
                  </p><br>
                  <button type="submit" class="btn" >Add Scores</button>
                  <hr>
                </div>
                </form>
                <p>Verify scores before submission since values cannot be changed after submission</p>
                <p>Return to <a href="{% url 'debate:debate_detail' related_post.debate_category related_post.id related_post.slug %}">debate</a> without submitting.<p>

        {% endif %}
            </div>
          </div>

          </div>

          <div class="col-md-3"></div>
        </div>

{% endblock %}
