{% extends "debate/base.html" %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load martortags %}


{% block title %}Score Debate{% endblock %}


{% block content %}
          {% if related_post.winner_updated %}
          <h2>Debate Scores and Vote Count
          {% else %}
          Score Debate for both teams</h2>
          {% endif %}
          <h3 class="main_title">Debate Topic</h3>
          <p class="">{{ post.post }}</p>
              <div class="ui fluid card">
                <div class="content">

              {% if related_post.winner_updated %}

              <p>Result</p>

                <p>Suppoting Team Score: <span class="right">{{post.st_verdict}} %</span><br>
                Opposing Team Score: <span class="right">{{post.ot_verdict}} %</span></p>
                <div class="divider"></div>
                <p>Winner: {{related_post.winner|capfirst}}</p>

                <p>Raw Scores</p>

                <p>Opposing Team Votes: <span class="right">{{post.opposing_vote }}</span><br>
                Supporting Team Votes: <span class="right">{{post.supporting_vote }}</span>
                <br>
              </p>
                <p>Supporting Team Score: <span class="right">{% if post.supporting_score %}{{ post.supporting_score }}{% else %}Not used{% endif %}</span><br>
                Opposing Team Score: <span class="right">{% if post.opposing_score %}{{ post.opposing_score }}{% else %}Not used{% endif %}</span><br>
                Highest Possible Score: <span class="right">{{ post.highest_score }}</span></p>

                <p>Judges</p>
                <p>Judge Scores/{{post.judge_percent_share}}</p>
                <small class="grey-text">Score of zero or empty scores indicates no judge verdict was included in scoring</small>

                <p>Supporting Side: <span class="right">{% if judge_support_percent %}{{judge_support_percent}}%{% else %}Not used{% endif %}</span><br>
                Opposing Side: <span class="right">{% if judge_support_percent %}{{judge_support_percent}}%{% else %}Not used{% endif %}</span><br>
                Observations
                <br></p>

                {% if post.observation %}
                <p>{{post.observation|safe_markdown}}
                {% else %}
                No recorded observation or anomaly.</p>
                {% endif %}

                  <p>Return to <a href="{{ related_post.get_absolute_url }}">debate</a><p>
              </div>
            </div>
              {% else %}
                <br>
                <form class="" action="." method="post">
                  {% csrf_token %}
                  <div class="input-field">
                  <p>Supporting Side Score:</p>
                    <p class="range-field">
                      <input type="range" name = "supporting_score" id="id_supporting_score" min="0.1" max="30" Step = 0.1 />
                    </p>
                </div>
                  <div class="input-field">
                  <p>Opposing Side Score:</p>
                  <p class="range-field">
                    <input type="range" name = "opposing_score" id="id_opposing_score" min="0.1" max="30" Step = 0.1 />
                  </p>
                </div>
                <div class="input-field">
                  <p>Highest Score Possible (Default: 10):</p>
                  <p class="range-field">
                    <input type="range" name = "highest_score" id="id_highest_score" min="0" max="30" />
                  </p>
                </div>
                  {% render_field score_form.observation %}
                  <small>Debate Score Summary and Observations. Markdown supported.</small>

                  {% for error in score_form.errors%}
                  <p><strong class=red-text>{{error}}</strong></p>
                  {% endfor%}
                </div>

                <div class="card-panel">
                    <div class="input-field">
                    <p>Voters Percent Share(Default: 70%)</p>
                    <p class="range-field">
                      <input type="range" name = "vote_percent_share" disabled="disabled" id="id_vote_percent_share" min="0" max="100" />
                    </p>
                  </div>
                  <div class="input-field">
                    <p>Judges Percent Share(Default: 30%)</p>
                    <p class="range-field">
                      <input type="range" name = "judge_percent_share" disabled="disabled" id="id_judge_percent_share" min="0" max="100" />
                    </p>
                  </div>
                  <p>Both currently disabled. Would be enabled in the future.</p>
                <div class="row">
                  <p>
                    <input type="checkbox" id="verified" required />
                    <label for="verified">I have verified the scores and willing to add it.</label>
                  </p><br>
                  <button type="submit" class="yellow btn black-text" >Add Scores</button>
                  <hr>
                </div>
                </form>
                {{form.media}}

                <p>Verify scores before submission since values cannot be changed after submission</p>
                <p>Return to <a href="{% url 'debate:debate_detail' related_post.debate_category related_post.id related_post.slug %}">debate</a> without submitting.<p>
            </div>
        {% endif %}

          </div>

        </div>

{% endblock %}
