{% extends "debate/base.html" %}
{% load widget_tweaks %}
{% load md2 %}

{% block title %}Score Debate{% endblock %}
{% load staticfiles %}

{% block content %}

        <div class="row">

          <div class="col m6 offset-m3">
              <div class="card-panel">
              {% if related_post.winner_updated %}
              <h5>Debate Scores and Vote Count</h5>
              {% else %}
              <h5>Score Debate for both teams</h5>
              {% endif %}
              <h5>Debate Topic</h5>
              <p class="blue-text">{{ post.post }}</p>
              {% if related_post.winner_updated %}
              <div class="row">
                  <div class="col s12">
                    <ul class="tabs">
                      <li class="tab col s3"><a class="active blue-text" href="#result">Result</a></li>
                      <li class="tab col s3"><a class="blue-text" href="#raw_scores">Raw Scores</a></li>
                      <li class="tab col s3"><a class="blue-text" href="#judge">Judges</a></li>
                    </ul>
                  </div>
                  <div id="result" class="col s12">
                    <p>Suppoting Team Score: <span class="right">{{post.st_verdict}} %</span></p>
                    <p>Opposing Team Score: <span class="right">{{post.ot_verdict}} %</span></p>
                    <hr>
                    <p>Winner:</p>
                    {{related_post.winner|capfirst}}
                  </div>
                  <div id="raw_scores" class="col s12">
                    <p>Opposing Team Votes: <span class="right">{{post.opposing_vote }}</span></p>
                    <p>Supporting Team Votes: <span class="right">{{post.supporting_vote }}</span></p>
                    <br>
                    <p>Supporting Team Score: <span class="right">{{ post.supporting_score }}</span></p>
                    <p>Opposing Team Score: <span class="right">{{post.opposing_score }}</span></p>
                    <p>Highest Possible Score: <span class="right">{{ post.highest_score }}</span></p>
                  </div>
                  <div id="judge" class="judge">
                    <h5>Judge Scores/{{post.judge_percent_share}}</h5>
                    <small class="grey-text">Score of zero or empty scores indicates no judge verdict was included in scoring</small>
                    <p>Supporting Side: <span class="right">{{judge_support_percent}}%</span></p>
                    <p>Opposing Side: <span class="right">{{judge_support_percent}}%</span></p>
                    <p>Observations</p>
                    {% if post.observation %}
                    <p>{{post.observation|markdown:"safe, code-friendly, code-color"}}</p>
                    {% else %}
                    <p>No recorded observation or anomaly</p>
                    {% endif %}
                  </div>
              </div>

                  <p>Return to <a href="{{ related_post.get_absolute_url }}">debate</a><p>

              {% else %}
                <br>
                <form class="" action="." method="post">
                  {% csrf_token %}
                  <div class="input-field">
                  <p>Supporting Side Score:</p>
                    <p class="range-field">
                      <input type="range" name = "supporting_score" id="id_supporting_score" min="0.1" max="30" Step = 0.1 />
                    </p>
                </div>
                  <div class="input-field">
                  <p>Opposing Side Score:</p>
                  <p class="range-field">
                    <input type="range" name = "opposing_score" id="id_opposing_score" min="0.1" max="30" Step = 0.1 />
                  </p>
                </div>
                <div class="input-field">
                  <p>Highest Score Possible (Default: 10):</p>
                  <p class="range-field">
                    <input type="range" name = "highest_score" id="id_highest_score" min="0" max="30" />
                  </p>
                </div>
                  {% include "button_click.html" %}
                  {% render_field score_form.observation class+="materialize-textarea" %}<br>
                  <label for="id_observation">Debate Score Summary and Observations.</label>
                  <small>Markdown supported.</small>

                  {% for error in score_form.errors%}
                  <p><strong class=red-text>{{error}}</strong></p>
                  {% endfor%}
                </div>

                <div class="card-panel">
                    <div class="input-field">
                    <p>Voters Percent Share(Default: 70%)</p>
                    <p class="range-field">
                      <input type="range" name = "vote_percent_share" disabled="disabled" id="id_vote_percent_share" min="0" max="100" />
                    </p>
                  </div>
                  <div class="input-field">
                    <p>Judges Percent Share(Default: 30%)</p>
                    <p class="range-field">
                      <input type="range" name = "judge_percent_share" disabled="disabled" id="id_judge_percent_share" min="0" max="100" />
                    </p>
                  </div>
                  <p>Both currently disabled. Would be enabled in the future.</p>
                <div class="row">
                  <p>
                    <input type="checkbox" id="verified" required />
                    <label for="verified">I have verified the scores and willing to add it.</label>
                  </p><br>
                  <button type="submit" class="yellow btn black-text" >Add Scores</button>
                  <hr>
                </div>
                </form>
                {{score_form.media}}
                <p>Verify scores before submission since values cannot be changed after submission</p>
                <p>Return to <a href="{% url 'debate:debate_detail' related_post.debate_category related_post.id related_post.slug %}">debate</a> without submitting.<p>
            </div>
        {% endif %}

          </div>

        </div>

{% endblock %}
