{% extends "debate/base.html" %}
{% load staticfiles %}
{% load comments %}
{% load el_pagination_tags %}
{% load comments_xtd %}
{% load humanize %}
{% load avatar_tags %}
{% load martortags %}


{% block title %}Search Result for {{query}}{% endblock %}


{% block content %}

    {% if query %}

        {% for result in page.object_list %}

{% if result.debate_category %}
    <div class="ui fluid card">
      <div class="content">

            <div class="right floated meta">{{result.object.created|naturaltime}}</div>
            <a href="{{result.object.author.profile.get_absolute_url}}">
              {% if result.object.author.author|has_avatar %}
                {% avatar result.object.author 35 class="ui avatar image" %}
              {% else %}
                <img src="{{result.object.author.profile.profile_image_url}}" class="ui avatar image" width="35" height="35" />
              {% endif %}
              {{result.object.author}}</a>
          </div>
          <div class="content">
            <div class="header"><a href="{{result.object.get_absolute_url}}">{{result.title}}</a></div>
            <div class="meta"><i class="hourglass start icon"></i> {{result.begin|naturaltime}}</div>
            <div class="meta">
              {% for tag in result.tags %}
              <a href="{% url 'debate:debate_list_by_tag' tag|slugify  %}" class="ui blue basic label">{{ tag }}</a>
              {% endfor %}
              <br>
            </div>
            <div class="description">
              {{result.summary|truncatewords:50|safe_markdown}}
              {% ifnotequal result.summary|truncatewords_html:50|length result.summary|truncatewords_html:51|length %}
                <a href="{{result.object.get_absolute_url}}">read more...</a>
              {% endifnotequal %}

            </div>
          </div>
          <div class="content">
            <span class="right floated">
              <i class="heart outline like icon"></i>
              {{ result.object.total_likes }} like{{ result.object.total_likes|pluralize }}
            </span>
            <i class="comment icon"></i>
            {% get_comment_count for result.object as comment_count %}
            {{ comment_count }} comment{{ comment_count|pluralize }}
          </div>
          <div class="extra content">
            <i class="users icon"></i>
            {% if result.debate_category == "closed" and result.supporting_debaters or result.opposing_debaters %}
              {% for author in result.supporting_debaters %} <a href="{{result.object.author.profile.get_absolute_url}}">{{ author}}</a>{% endfor %}
              {% for author in result.opposing_debaters %}{% if forloop.first %}, {% endif %}<a href="{{result.object.author.profile.get_absolute_url}}">{{ author }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
              {% elif result.debate_category == "open" %}
              Debate open for comments from all.
              {% else %}
              No debaters yet.
              {% endif %}
      </div>
    </div>
        {% else %}
        <div class="ui fluid card">
          <div class="content">
            <div class="right floated meta">{{result.created|naturaltime}}</div>
            <a href="{{result.object.author.profile.get_absolute_url}}">
              {% if result.object.author|has_avatar %}
                {% avatar result.object.author 35 class="ui avatar image" %}
              {% else %}
                <img src="{{result.object.author.profile.profile_image_url}}" class="ui avatar image" width="35" height="35" />
              {% endif %}
              {{result.object.author}}</a>
          </div>
          <div class="content">
            <div class="header"><a href="{{result.object.get_absolute_url}}">{{result.title}}</a></div>
            <div class="meta">
              {% for tag in result.tags %}
              <a href="{% url 'discourse:post_list_by_tag' tag|slugify  %}" class="ui blue basic label">{{ tag }}</a>
              {% endfor %}
              <br>
            </div>
            <div class="description">
              {{result.summary|truncatewords:50|safe_markdown}}
              {% ifnotequal result.summary|truncatewords_html:50|length result.summary|truncatewords_html:51|length %}
                <a href="{{result.object.get_absolute_url}}">read more...</a>
              {% endifnotequal %}
            </div>
          </div>
          <div class="content">
            <span class="right floated">
              <i class="heart outline like icon"></i>
              {{ result.object.total_likes }} like{{ post.total_likes|pluralize }}
            </span>
            <i class="comment icon"></i>
            {% get_comment_count for result.object as comment_count %}
            {{ comment_count }} comment{{ comment_count|pluralize }}
          </div>
        </div>

        {% endif %}


          {% endfor %}

        {% else %}
            <p>There are no results for this search.</p>
      {% endif %}

{% endblock %}
