<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
{% load staticfiles %}
{% load meta %}
{% load avatar_tags %}

<html class="no-js">
<head {% meta_namespaces %}>
    {% include "meta/meta.html" %}
  <!-- Standard Meta -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" href="{% static 'favicon.ico' %}">

  <!-- Site Properties -->
  <title>Talkatif - {% block title %}Home{% endblock %}</title>

  <link type="text/css" href="{% static 'serve/semantic.min.css' %}" rel="stylesheet" />
  <script src="{% static 'js/vendor/jquery.js' %}"></script>
  <script src="{% static 'serve/semantic.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}" >
  <!-- Datetime picker dependencies -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/serve/flatpickr.min.css">
  <link rel="stylesheet" type="text/css" href="https://npmcdn.com/flatpickr/serve/themes/material_blue.css">
  {% block extra_css %}{% endblock extra_css %}
  <link type="text/css" href="{% static 'serve/components/menu.min.css' %}" rel="stylesheet" />
  <link type="text/css" href="{% static 'serve/components/message.min.css' %}" rel="stylesheet" />
  <link rel="stylesheet" href="{% static 'css/main.css' %}">

</head>

<body>

{% if not request.user_agent.is_mobile %}
  <div class="ui blue menu">
    <div class="ui container">
      <a href="{% url 'all_list' %}" class="header item">
        <img class="logo" src="{% static 'logo/talkatif.png' %}" alt = "ffng"/>
      </a>
      {% url 'all_list' as url %}
      <a href="{% url 'main_page' %}" class="{% if request.path == url %}active{% endif %} item">Feed</a>
      {% url 'discourse:post_list' as url3 %}
      <a href="{% url 'discourse:post_list' %}" class="{% if request.path == url3 %}active{% endif %} item">Talks{% if daily_talk > 0 %}
          <div class="floating ui red label">{{daily_talk}}</div>{% endif %}</a>
      <div class="ui large item search">
        <form method="get" action="/search/">
          <div class="ui left mini icon input">
            <i class="inverted circular search link icon"></i>
            <input class="prompt" id="id_q" name="q" type="search" placeholder="search talkatif...">
          </div>
        </form>
      </div>
      <div class="right menu">
        {% if not user.is_authenticated %}
        <div class="item">
          <a href="{% url 'account_login' %}" class="ui basic yellow button">Log in</a>
        </div>
        <div class="item">
          <a href="{% url 'account_signup' %}" class="ui primary basic button">Sign Up</a>
        </div>
        {% else %}

        <a class="item" href="{% url 'profile' user %}">
          {% if user|has_avatar %}
          {% avatar user 35 class="ui right spaced avatar image" %}
          {% else %}
            <img src="{{user.profile.profile_image_url}}" class="ui right spaced avatar image" width="35" height="35" />
          {% endif %}
          Welcome, {{ request.user }}
        </a>

        <div class="ui dropdown item" tabindex="0">
          <i class="settings icon"></i>
          <i class="dropdown icon"></i>
          <div class="menu transition hidden" tabindex="-1">
            <a class="item" href="{% url 'profile' request.user %}">Profile</a>
            <a class="item" href="{% url 'account_logout' %}">Sign Out</a>
            <a class="item" href="{% url 'account_reset_password' %}">Change Password</a>
            <div class="divider"></div>
            <a class="item" href="">Badges</a>
            <div class="divider"></div>
            <a class="item" href="">Rules</a>
            <a class="item" href="{% url 'faq' %}">FAQ</a>
          </div>
        </div>

        {% endif %}
      </div>
    </div>
  </div>

{% else %}

<div class="ui navbar menu">
                <a href="{% url 'all_list' %}" class="header item">
                  <img class="logo" src="{% static 'logo/talkatif.png' %}" alt = "ffng"/>
                </a>
                <div class="ui tiny item search">
                  <form method="get" action="/search/">
                    <div class="ui left mini icon input">
                      <i class="inverted circular search link icon"></i>
                      <input class="prompt" id="id_q" name="q" type="search" placeholder="search talkatif...">
                    </div>
                  </form>
                </div>
                <div class="right menu open">
                    <a href="" class="menu item">
                        <i class="blue sidebar icon"></i>
                    </a>
                </div>
            </div>
            <div class="ui vertical navbar menu">
              <a href="{% url 'all_list'  %}" class="active item">Home</a>
              <a href="{% url 'discourse:post_list' %}" class="item">Talks</a>

                <div class="menu">
                  {% if not user.is_authenticated %}
                  <div class="item">
                    <a href="{% url 'account_login' %}" class="ui basic yellow button">Log in</a>
                  </div>
                  <div class="item">
                    <a href="{% url 'account_signup' %}" class="ui primary basic button">Sign Up</a>
                  </div>
                  {% block extra_nav %}{% endblock %}
                  {% else %}
                  <a class="item" href="{% url 'profile' request.user %}">Profile</a>
                  <a class="item" href="{% url 'account_logout' %}">Sign Out</a>
                  <a class="item" href="{% url 'account_reset_password' %}">Change Password</a>
                  <div class="divider"></div>
                  <a class="item" href="">Badges</a>
                  <div class="divider"></div>
                  <a class="item" href="">Rules</a>
                  <a class="item" href="{% url 'faq' %}">FAQ</a>
                  {% endif %}

                </div>
            </div>
{% endif %}

  {% block bottom_nav %}
  {% endblock bottom_nav %}


  {% block body %}

<main>
  <div class="ui container">
    <div class="ui stackable three column grid">
      <div class="three wide column">
        {% block left_content %}
        {% endblock left_content %}
      </div>
      <div class="nine wide column">
        {% if messages %}
        <div class="ui tiny message">
          <i class="close icon"></i>
          <ul class="list">
            {% for message in messages %}
            <li>{{message}}</li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        {% block content %}
        {% endblock content %}
      </div>
      <div class="four wide column">
        {% block right_content %}
        {% endblock right_content %}
      </div>
    </div>
  </div>
</main>

  {% endblock body %}


 {% include "footer.html" %}

  <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script> <!-- Datetime picker -->
  {% block extra_js %}{% endblock extra_js %}
  <script src="{% static 'js/main.js' %}" type="text/javascript"></script>

  <script type="text/x-mathjax-config">
  MathJax.Hub.Config({
      asciimath2jax: {
        delimiters: [['$','$'], ['`','`']]
      }
      });

      MathJax.Hub.Config({
    config: ["MMLorHTML.js"],
    jax: ["input/TeX","input/MathML","output/HTML-CSS","output/NativeMML", "output/PreviewHTML"],
    extensions: ["tex2jax.js","mml2jax.js","MathMenu.js","MathZoom.js", "fast-preview.js", "AssistiveMML.js", "a11y/accessibility-menu.js"],
    TeX: {
      extensions: ["AMSmath.js","AMSsymbols.js","noErrors.js","noUndefined.js"]
    }
    });

    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>


  <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
  <script>
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
      function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
      e=o.createElement(i);r=o.getElementsByTagName(i)[0];
      e.src='//www.google-analytics.com/analytics.js';
      r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-XXXXX-X','auto');ga('send','pageview');
  </script>

  <!-- For like and unlike in comments -->


</body>
</html>
