<!-- Text Editor -->

  <div class="collection">
    <a class="btn-floating tooltipped white keyboard_return" data-position="top" data-delay="50" data-tooltip="paragraph">
      <i class="black-text material-icons left">keyboard_return</i></a>
    <a class="btn-floating tooltipped white heading" data-position="top" data-delay="50" data-tooltip="title">
      <i class="black-text material-icons left">title</i></a>
    <a class="btn-floating tooltipped white bold" data-position="top" data-delay="50" data-tooltip="bold">
      <i class="black-text material-icons left">format_bold</i></a>
    <a class="btn-floating tooltipped white italic" data-position="top" data-delay="50" data-tooltip="italize">
      <i class="black-text material-icons left">format_italic</i></a>
    <a class="btn-floating tooltipped white quote" data-position="top" data-delay="50" data-tooltip="quote">
      <i class="black-text material-icons left">format_quote</i></a>
    <a class="btn-floating tooltipped white link" data-position="top" data-delay="50" data-tooltip="hyperlink">
      <i class="black-text material-icons left">link</i></a>
    <a class="btn-floating tooltipped white add_a_photo modal-trigger" data-position="top" data-delay="50" data-tooltip="link to external image">
      <i class="black-text material-icons left">add_a_photo</i>
    </a>

    <a class="btn-floating tooltipped white list_bulleted" data-position="top" data-delay="50" data-tooltip="outline">
      <i class="black-text material-icons left">format_list_bulleted</i></a>
    <a class="btn-floating tooltipped white list_numbered" data-position="top" data-delay="50" data-tooltip="number">
      <i class="black-text material-icons left">format_list_numbered</i></a>
    <a class="btn-floating tooltipped white satisfied" data-position="top" data-delay="50" data-tooltip="agree">
      <i class="yellow-text material-icons">sentiment_very_satisfied</i></a>
    <a class="btn-floating tooltipped white neutral" data-position="top" data-delay="25" data-tooltip="neutral">
      <i class="yellow-text material-icons">sentiment_neutral</i></a>
    <a class="btn-floating tooltipped white dissatisfied" data-position="top" data-delay="50" data-tooltip="disagree">
      <i class="yellow-text material-icons">sentiment_very_dissatisfied</i></a>
  </div>
