
<form enctype="multipart/form-data" method="POST" action=".">{% csrf_token %}
  {{ form.image }}
</form>

<script>
    // CSRF code
    function getCookie(name) {
        var cookieValue = null;
        var i = 0;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (i; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // Uploading the image if on change.
    $('input[name=image]').on('change', function(evt) {
      evt.preventDefault();
      var formData = new FormData($('form').get(0));
      formData.append("csrfmiddlewaretoken", getCookie('csrftoken'));

      $.ajax({
          url: '/attachment/upload/',
          type: 'POST',
          data: formData,
          async: true,
          cache: false,
          contentType: false,
          enctype: 'multipart/form-data',
          processData: false,
          beforeSend: function() {
              console.log("uploading...");
          },
          success: function (response) {
              console.log(response['image_code']);
          },
          error: function(response) {
              console.log("error", response);
          }
      });
      return false;
    });
</script>
