{% extends "base.html" %}
{% load staticfiles %}
{% block title %}FAQ{% endblock %}
{% block extra_js %}<script src="{% static 'serve/components/accordion.min.js' %}"></script>{% endblock extra_js %}
{% block content %}
{% load i18n %}

<h2 class="ui dividing header">{% trans "Frequently Asked Questions." %}</h2>

<p>We have compiled a list of FAQs. Read through before contacting a SuperMod with questions. </p>

<div class="ui styled fluid accordion">
  <div class="title">
    <i class="dropdown icon"></i>
    Can I delete or edit my comments?
  </div>
  <div class="content">
    <p class="transition hidden">
      Yes, comments can be removed by the owner or moderator. Deleting means
      "removal from comment feed", and may still have its replies shown.
    </p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    Can I add images to comments?
  </div>
  <div class="content">
    <p>
      Images can be added using markdown syntax. Upload your image to an image sharing site like Imgur and link to the url.
    </p>
    <p>Emoticons are also supported.</p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    What is Markdown and Mathjax.
  </div>
  <div class="content">
    <p>
      <a href="http://commonmark.org/help/" target="_blank">Mathdown</a> and <a href="https://math.meta.stackexchange.com/questions/5020/mathjax-basic-tutorial-and-quick-reference" target="_blank">MathJax</a>
      enable good presentation of text. Our editor comes with a preview which allow you to style your comments and post.
      MathJax helps to prettify maths equations and symbols, making it readable.
    </p>
  </div>
  <div class="title">
    <i class="dropdown icon"></i>
    Why is the comment box disabled?
  </div>
  <div class="content">
    <p>Comment box may be disabled if you are not logged in or talk is closed for comments.
    </p>
  </div>
</div>

  <br><br>
  <p>FAQs are constantly being updated to cover the most asked questions. If your question has not been answered, you can send a mail <tbody>
    enquiries[at]talkatif.com</p>
  <p>Thank you for being a part of the community.</p>
  <p>The talkatif Team.</p>

  {% endblock %}
