<br><br>

<footer class="ui yellow  vertical footer segment">
  <div class="ui container">
    <div class="ui stackable  divided equal height stackable grid">
      <div class="three wide column">
        <h4 class="ui  header">About</h4>
        <div class="ui  link list">
          <a href="{% url 'debate:rules_guidelines' %}" class="item">Debate Rules</a>
          <a href="{% url 'faq' %}" class="item">Site FAQ</a>
          <a href="{% url 'debate:see_badge' %}" class="item">Badges</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui  header">Sections</h4>
        <div class="ui  link list">
          <a href="{% url 'debate:debate_list' %}" class="item">Debates</a>
          <a href="{% url 'debate:debate_list' %}" class="item">Arguments</a>
          <a href="{% url 'discourse:post_list' %}" class="item">Talks</a>
          <a href="{% url 'blog:blog_list' %}" class="item">Blog</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui  header">Talkatif</h4>
        <p>This talk and debating platform is here to serve your needs. Don't keep your opinions to yourself,
        it can make a difference, it can change a heart.</p>

        <br>
        <div class="ui row">
        &copy; Talkatif {% now 'Y' %}
        <span class="" href="#!">With love from Laolu</span>
        </div>
      </div>
    </div>
  </div>

</footer>
