<footer class="amber darken-1 page-footer">
        <div class="container">
          <div class="row">
            <div class="col l6 s12">
              <h5 class="white-text">Talkatif</h5>
              <p class="white-text">The best debating platform is here to serve your needs. Don't keep your opinions to yourself,
              it can make a difference, it can change a heart.</p>
            </div>
            <div class="col l4 offset-l2 s12">
              <h5 class="white-text">Links</h5>
              <ul>
                <li><a class="white-text text-lighten-3" href="{% url 'debate:debate_list' %}">Debate</a></li>
                <li><a class="white-text text-lighten-3" href="{% url 'discourse:post_list' %}">Discourse</a></li>
                <li><a class="white-text text-lighten-3" href="{% url 'debate:rules_guidelines' %}">Rules</a></li>
                <li><a class="white-text text-lighten-3" href="{% url 'faq' %}">FAQ</a></li>
                <li><a class="white-text text-lighten-3" href="/blog/">Blog</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer-copyright">
          <div class="container">
          &copy; Talkatif {% now 'Y' %}
          <span class="white-text text-lighten-4 right" href="#!">With love from Laolu</span>
          </div>
        </div>
      </footer>
