{% load talkatif_filter %}
{% with request.build_absolute_uri as url %}
<a href="http://www.facebook.com/sharer/sharer.php?u={{ url|goo_shorten_url|urlencode }}">
<button class="ui circular facebook icon button">
  <i class="facebook icon"></i>
</button></a>
<a href="https://twitter.com/intent/tweet?url={{ url|goo_shorten_url|urlencode }}">
<button class="ui circular twitter icon button">
  <i class="twitter icon"></i>
</button></a>
<a href="http://www.linkedin.com/shareArticle?url={{ url|goo_shorten_url|urlencode }}&title={{post.title}}&summary={{post.title}}&source={{ request.get_host }}">
<button class="ui circular linkedin icon button">
  <i class="linkedin icon"></i>
</button></a>

{% if request.user_agent.is_mobile or request.user_agent.is_tablet %}
<a href="whatsapp://send?text=*{{post.title}}* - What do you think?... {{ url|goo_shorten_url|urlencode }}" data-action="share/whatsapp/share">
<button class="ui circular green whatsapp icon button">
  <i class="whatsapp icon"></i>
</button></a>
{% endif %}

{% endwith %}
