{% load markdownify %}
<div class="fixed-action-btn horizontal click-to-toggle">
  <a class="btn-floating btn-large red pulse">
    <i class="large material-icons">share</i>
  </a>
  <ul>
    <li><a href="http://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|urlencode }}"
       class="waves-effect waves-light btn-floating social facebook">
            <i class="fa fa-facebook"></i></a></li>
    <li><a href="https://twitter.com/intent/tweet?url={{ request.build_absolute_uri|urlencode }}"
      class="waves-effect waves-light btn-floating social twitter">
            <i class="fa fa-twitter"></i></a></li>
    <li><a href="http://www.linkedin.com/shareArticle?url={{ request.build_absolute_uri|urlencode }}&title={{post.title}}&summary={{post.summary|markdownify}}&source={{ request.get_host }}"
      class="waves-effect waves-light btn-floating social linkedin">
            <i class="fa fa-linkedin"></i></a></li>
    {% if request.user_agent.is_mobile or request.user_agent.is_tablet %}
    <li><a href="whatsapp://send?text={{ request.build_absolute_uri|urlencode }} - *{{post.title}}* - {{post.summary|truncatechars:300|markdownify|striptags}}..." data-action="share/whatsapp/share" class="waves-effect waves-light btn-floating social whatsapp">
            <i class="fa fa-whatsapp"></i></a></li>
    {% endif %}
  </ul>
</div>
