<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Welcome to Talkatif</title>
<link href="https://www.talkatif.com/static/css/email.css" rel="stylesheet">
</head>
<body bgcolor="#FFFFFF">

<table class="head-wrap" bgcolor="#999999">
<tr>
<td></td>
<td class="header container">
<div class="content">
<table bgcolor="#F4F7BA">
<tr>
<td><img src="https://www.talkatif.com/media/logo/talkatif.png" width="50" height="50"/></td>
<td align="right"><h3 class="collapse">Welcome, Kaabo, Sanu, Nno {{user.first_name}}!</h3></td>
</tr>
</table>
</div>
</td>
<td></td>
</tr>
</table>

<table class="body-wrap">
<tr>
<td></td>
<td class="container" bgcolor="#FFFFFF">
<div class="content">
<table>
<tr>
<td>

<h3>Dear, {{user.get_full_name}}</h3>
<p class="lead">We welcome you to the talkatif community. To get up-to-speed about the site, we have
curated a list of present debates and talks. Click to access them.</p><br>

{% if postdebate %}
<p class="callout">
Debates.<br>
{% for debate in postdebate %}
<a href="https://talkatif.com{{debate.get_absolute_url}}">{{debate.title}}</a>
{% endfor %}
</p>
{% endif %}
<br>
{% if post %}
<p class="callout">
Talks.<br>
{% for discussion in post %}
<a href="https://talkatif.com{{discussion.get_absolute_url}}">{{discussion.title}}</a>
{% endfor %}
</p>
{% endif %}
<br>

<table class="social" width="100%">
<tr>
<td>

<table align="left" class="column">
<tr>
<td>
<h5 class="">Contact Info:</h5>
Email: <strong><a href="emailto:{{admin_email}}">{{admin_email}}</a></strong></p>
</td>
</tr>
</table>
<span class="clear"></span>
</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
</td>
<td></td>
</tr>
</table>

<table class="footer-wrap">
<tr>
<td></td>
<td class="container">

<div class="content">
<table>
<tr>
<td align="center">
<p>

<a href="https://www.talkatif.com/debate/rules_guidelines/">Rules</a> | <a href="https://www.talkatif.com/faq/">FAQ</a> | <a href="https://www.talkatif.com/blog/">Blog</a>

</p>
</td>
</tr>
</table>
</div>
</td>
<td></td>
</tr>
</table>
</body>
</html>
