{% extends "debate/base.html" %}
{% load comments %}
{% load el_pagination_tags %}



{% block title %}Badge Description{% endblock %}

{% block content %}

<div class="row">

  <div class="col m6 offset-m2">
      {% if post %}

      {% for badge in post %}

      <div class="card-panel">
        <h4>Badge: {{badge.name|capfirst}} <span class="badge"></span></h4>

          <p>Decription: {{badge.description|capfirst}}
          <br>Badge Category: {{badge.category|capfirst}}
          <br>Badge Rank:
            {% with ''|center:badge.rank as range %}
                {% for _ in range %}<i class="blue-text material-icons">star</i></span>{% endfor %}
            {% endwith %}

          <br>Badge Owned by
          <span>{% for person in badge.collected_by.all %}
            <a href="{{ person.profile.get_absolute_url }}">{{person.username}}</a>{% if not forloop.last %},{% endif %}{% endfor %}
          <span></p>

    {% endfor %}
    {% else %}
      <h5>There are no badges registered</h5>
    {% endif %}
  </div>


</div>

</div>

{% endblock %}
