{% extends "debate/base.html" %}
{% load comments %}
{% load el_pagination_tags %}



{% block title %}Badge Description{% endblock %}

{% block content %}

      {% if post %}



<div class="ui cards">
  {% for badge in post %}
  <div class="card">
    <div class="content">
      <span class="right floated ui image">
      {% with ''|center:badge.rank as range %}
          {% for _ in range %}<i class="blue star icon"></i>{% endfor %}
      {% endwith %}
    </span>
      <div class="header">
        Badge: {{badge.name|capfirst}}
      </div>
      <div class="meta">
        {{badge.category|capfirst}}
      </div>
      <div class="meta">

      </div>
      <div class="description">
        {{badge.description|capfirst}}
      </div>
    </div>
    <div class="extra content">
      Badge Owned by
      <span>{% for person in badge.collected_by.all %}
        <a href="{{ person.profile.get_absolute_url }}">{{person.username}}</a>{% if not forloop.last %},{% endif %}{% endfor %}
      <span>
    </div>
  </div>
  {% endfor %}
</div>
{% else %}
  <h5>There are no badges registered</h5>
{% endif %}


{% endblock %}
