{% extends "debate/base.html" %}
{% load comments %}
{% load el_pagination_tags %}



{% block title %}Badge Description{% endblock %}

{% block content %}

<div class="row">
  <div class="col m2">

  </div>
  <div class="col m7">
      {% if post %}

      {% for badge in post %}

    <div class="card">
      <div class="card-content">
        <h4>Badge: {{badge.name|capfirst}} <span class="badge"></span></h4>

          <p>Decription: {{badge.description|capfirst}}</p>
          <p>Badge Category: {{badge.category|capfirst}}</p>
          <p>Badge Rank: {{badge.rank}}</p>
          <p>Badge Owned by
          <span>{% for person in badge.collected_by.all %}
            <a href="{{ person.profile.get_absolute_url }}">{{person.username}}</a>{% if not forloop.last %},{% endif %}{% endfor %}
          <span></p>

        </div>
    {% endfor %}
    {% else %}
      <h5>There are no badges registered</h5>
    {% endif %}
  </div>


</div>

  <div class="col-md-3"></div>
</div>

{% endblock %}
