{% extends "debate/base.html" %}
{% load humanize %}
{% load widget_tweaks %}
{% load markdownify %}
{% load comments %}
{% load comments_xtd %}
{% load i18n %}


{% block title %}Debate{% endblock %}

{% block content %}

<div class="row">

  <div class="col m6 offset-m2">
    {% if tag %}
    <div class="row">
      Results for:
      <a href="{% url 'debate:debate_list_by_tag' tag.slug  %}"><span class="new badge amber lighten-4 black-text" data-badge-caption="">{{ tag.name }}</span></a>
    </div>
    {% endif %}

  {% if object_list %}

        {% for post in object_list.object_list %}
        <!-- Card Projects -->
        <div class="card">
          <div class="card-content">
            {% for tag in post.tags.all %}
              <a href="{% url 'debate:debate_list_by_tag' tag.slug  %}"><span class="new badge amber lighten-4 black-text" data-badge-caption="">{{ tag.name }}</span></a>
            {% endfor %}
            <h5 class="main_title"><a href="{{post.get_absolute_url}}">{{post.title}}</a></h5>
            <p>{{post.summary|truncatechars:300|markdownify}}</p>
            <small>
            {% if post.end %} Ends {{post.end|naturaltime}}
              {% elif post.begin %}
              Began {{post.begin|naturaltime}}
              {% else %} Debate starts soon.
            {% endif %}

            by <a href="{{post.author.profile.get_absolute_url}}">{{post.author.get_full_name}}</a>
            <p><strong>Debaters:</strong>
            {% if post.debate_category == "closed" and post.supporting_debaters.all or post.opposing_debaters.all %}
              {% for names in post.supporting_debaters.all %} <a href="{{names.profile.get_absolute_url}}">{{ names.get_full_name }}</a>{% endfor %}
              {% for names in post.opposing_debaters.all %}{% if forloop.first %}, {% endif %} <a href="{{names.profile.get_absolute_url}}">{{ names.get_full_name }}</a>{% if not forloop.last %}, {% endif %}{% endfor %}
              {% else %}
              No debaters yet.
            {% endif %}
          </small>

              {% get_comment_count for post as comment_count %}
              <span class="right">
                {{ comment_count }}
                <i class="tiny material-icons">comment</i>
                {{ post.total_likes }}
                <i class="tiny material-icons">thumb_up</i>
              </span>
            </p>
          </div>
        </div><!-- End of card -->
        {% endfor %}



        <!-- The following renders the pagination html -->
        <div>
          {% if object_list.object_list %}
            {{ object_list.render }}
          {% endif %}
        </div>
  {% endif %}
  {% if not object_list.object_list %}
    <p>There are no debates started yet. Create a new debate or checkback.</p>
  {% endif %}

    </div><!-- End of main div   -->

  <div class="col m3 l3">
    <p>
      <a href="{% url 'debate:suggest_post' %}">
    <button class="btn yellow black-text">Post a Debate</button></a>
    </p>
    <br>

    <!--
    <h4>Top Debaters</h4>
    <p>To be attended to
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
    </p>
    <p >Use aggregate</p><p>Fusce dapibus, tellu</p><p>tortor mauris</p>

    <br/> -->

    {% if last_5_badges %}
    <div class="card">
      <div class="card-content">
        <h4>Latest Badge Winners</h4>
        {% for winner in last_5_badges %}
          <p>
            {% with ''|center:winner.badge.rank as range %}
                {% for _ in range %}<i class="material-icons">star</i>{% endfor %}
            {% endwith %}
            {{winner.user.get_full_name}} - {{winner.badge.name}}</p>
        {% endfor %}
        <p>Enter for a debate to get your first badge<p>
          <br/>
      </div>
    </div>
    {% endif %}



    {% get_last_xtdcomments 5 as last_comments for debate.postdebate %}
    {% if last_comments %}
    <h6>Latest Comments</h6>
        {% for comment in last_comments %}
          {% include "django_comments_xtd/latest_comments.html" %}
        {% endfor %}

    {% endif %}


 </div>
</div>


{% endblock %}
