{% extends "avatar/base.html" %}
{% load i18n avatar_tags %}
{% block title %}Add Avatar{% endblock title %}
{% block content %}


<div class="ui fluid card">
  <div class="content">
    <p>{% trans "Your current avatar: " %}</p>
    {% if avatars %}
      {% avatar user %}
    {% else %}
    <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
    {% endif %}
  </div>
  <div class="content">
    <form class="ui form" enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
        <div class="field">
        {{ upload_avatar_form.as_p }}
      </div>
        <p>{% csrf_token %}
          <button class="ui secondary basic button" type="submit">{% trans "Upload New Image" %}</button></p>
    </form>
  </div>
</div>
{% endblock %}
