{% extends "avatar/base.html" %}
{% load i18n avatar_tags %}
{% block title %}Change Avatar{% endblock title %}
{% block content %}

    <div class="ui fluid card">
      <div class="content">
          <p>{% trans "Your current avatar: " %}</p>
            {% avatar user class="circle responsive-img" id="user_avatar" %}
      </div>

      <div class= "content">
        <form class="ui form" enctype="multipart/form-data" method="POST" action="{% url 'avatar_add' %}">
            {% csrf_token %}
            <div class="ui field">
              <label>{{form.avatar.label_tag}}</label>
              {{form.avatar}}
              <small class="grey-text">Try reducing file size before upload.</small>
            </div>

            <p><input class="blue btn" type="submit" value="{% trans "Upload New Image" %}" /></p>
        </form>
        <div class="hide-on-med-and-up"><hr></div>
      </div>


    {% if not avatars %}
        <p>{% trans "You haven't uploaded an avatar yet. Please upload one now." %}</p>
    {% else %}
    <div class = "content">

        <form class="ui form" method="POST" action="{% url 'avatar_change' %}">
            <ul>
                {{ primary_avatar_form.as_ul }}
            </ul>
            <p>{% csrf_token %}<input class="blue btn" type="submit" value="{% trans "Choose new Default" %}" /></p>
        </form>
        <small class="grey-text">To choose new image, click on image then button</small>

    </div>
    {% endif %}



</div><!-- End of row-->
{% endblock %}
