{% extends "django_comments_xtd/base.html" %}
{% load i18n %}
{% load comments_xtd %}
{% load md2 %}

{% block title %}{% trans "Remove comment" %}{% endblock %}

{% block header %}
<a href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object }}</a>
{% endblock %}

{% block content %}

<div class="row">
<div class="col m3"></div>

<div class="col m6">
  <div class="card">
    <div class="card-content">

    <h5 class="center-align">{% trans "Remove this comment?" %}</h5>
    <p>{% trans "As the comment owner or a moderator you can delete comments. Deleting a comment does not remove it from the site, only prevents talkatif from showing the text. Click on the remove button to delete the following comment:" %}</p>

      <div class="media">
        <div class="media-left">
          {% if comment.user.profile.image %}
          <img src="{{ item.comment.user.profile.image.thumbnail.25x25 }}"/>
          {% endif %}
        </div>
        <div class="media-body">
          <h6 class="media-heading">
            {{ comment.submit_date|date:"N j, Y, P" }}&nbsp;-&nbsp;
            {% if comment.user.profile.get_absolute_url %}
            <a href="{{ comment.user.profile.get_absolute_url }}" target="_new">{% endif %}
              {{ comment.user_name }}
              {% if comment.user.profile.get_absolute_url%}
            </a>{% endif %}
          </h6>
          <p>{{ comment.comment|markdown:"safe, code-friendly, code-color" }}</p>
        </div>
      </div>

    <div class="hide-on-small-only">
      <hr/>
    </div>
  </div>


<div class="row">
    <form action="." method="post" class="form-horizontal">{% csrf_token %}
      <input type="hidden" name="next" value="{{ comment.get_absolute_url }}"/>
      <div class="form-group">
        <div class="row center-align">
          <input type="submit" name="submit" class="btn btn-danger" value="{% trans "Remove" %}"/>
          <a class="btn btn-default" href="{{ comment.get_absolute_url }}">cancel</a>
        </div>
      </div>
    </form>
</div>

</div>
</div>


</div><!-- End of row -->


{% endblock %}
