{% extends "django_comments_xtd/base.html" %}
{% load i18n %}
{% load comments_xtd %}
{% load avatar_tags %}
{% load martortags %}

{% block title %}{% trans "Remove comment" %}{% endblock %}

{% block header %}
<a href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object }}</a>
{% endblock %}

{% block content %}

    <h2 class="center-align">{% trans "Remove this comment?" %}</h2>
    <small class="">{% trans "Comment removal cannot be undone." %}</small>

    <hr/>

    <div class="ui comments">
    <div class="comment">
      <a class="avatar">
        {% if comment.user|has_avatar %}
          {% avatar comment.user 35 class="ui avatar circular image" %}
        {% else %}
          <img src="{{comment.user.profile.profile_image_url}}" width="35" height="35" />
        {% endif %}
      </a>
      <div class="content">
        <a class="author">{{ comment.user_name }}</a>
        <a class="time">{{ comment.submit_date|date:"N j, Y, P" }}</a>
        <div class="text">
          {{ comment.comment|safe_markdown }}
        </div>
              <form action="." method="post" class="ui reply form">{% csrf_token %}
                <input type="hidden" name="next" value="{{ comment.get_absolute_url }}"/>

                <button type="submit" name="submit" class="ui negative basic button">{% trans "Remove" %}</button>
                <a class="" href="{{ comment.get_absolute_url }}">
                <button type="submit" name="preview" class="ui secondary basic button">{% trans "Cancel" %}</button></a>

              </form>
      </div>
    </div>
    </div>

{% endblock %}
