{% load i18n %}
{% load comments %}
{% load widget_tweaks %}

<form class="col s12" method="POST" action="{% comment_form_target %}">
      <input type="hidden" name="next" value="{% url 'comments-xtd-sent' %}"/>
      {% csrf_token %}
      <div class="red-text hidden" data-comment-element="errors"></div>
      {% for field in form %}
        {% if field.is_hidden %}<div>{{ field }}</div>{% endif %}
      {% endfor %}
      <div style="display:none">{{ form.honeypot }}</div>

      {% include "button_click.html" %}
      {% render_field form.comment class="materialize-textarea" data-length="3000" %}

  <div class="row">
    <div class="col m3">
      <input type="submit" name="post" value='send' class="blue btn" />
    </div>
    <div class="col m3">
      <input type="submit" name="preview" value="preview" class="btn grey" />
    </div>
    <div class="col m4 right">
        {{form.comment_anonymous}}
    </div>
  </div>
  <p class="small">
    <a href='http://commonmark.org/help/' target='_blank'>Mardown </a>and <a target='_blank' href="https://math.meta.stackexchange.com/questions/5020/mathjax-basic-tutorial-and-quick-reference">MathJax</a> supported.
  </p>

</form>
