{% extends "django_comments_xtd/base.html" %}
{% load i18n %}
{% load comments_xtd %}
{% load md2 %}
{% load debate_filter %}

{% block title %}{% trans "Preview your comment" %}{% endblock %}

{% block content %}

<div class="row">

  <div class="col m6 offset-m3">
    <div class="card">
      <div class="card-content">
        <h4 class="center-align">{% trans "Preview your comment" %}</h4>
        <p class="center-align">
          {% trans "Preview your comment for:" %}<br/>
          <a href="{{ form.target_object.get_absolute_url }}">{{ form.target_object }}</a>
        </p>
      </div>

  <!--div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8"-->

    <div class="hide-on-small-only">
      <hr/>
    </div>

    <div class="card-content">
      {% if not comment %}
      <em>{% trans "Empty comment." %}</em>
      {% else %}
      <ul>
      <li class="collection-item avatar">
        <a href="{{ user.profile.get_absolute_url }}">
          {% load avatar_tags %}
          {% if user|has_avatar %}
            {% avatar user 25 class="circle" %}
          {% elif user.socialaccount_set.all.0.get_avatar_url %}
            <img  src="{{ user.socialaccount_set.all.0.get_avatar_url }}" width="25" height=25/>
          {% else %}
            <img src="{{user.profile.profile_image_url}}" width="25" height="25" />
          {% endif %}
        </a>

      <span class="title">
          {% now "N j, Y, P" %}&nbsp;-&nbsp;
          {% if form.cleaned_data.url %}
          <a href="{{ form.cleaned_data.url }}" target="_new">{% endif %}
            {{ form.cleaned_data.name }}
            {% if form.cleaned_data.url %}</a>{% endif %}
      </span>
      </li>

        <p>{{ comment|markdown:"safe, code-friendly, code-color" }}</p>
        <small>{{ comment|wordcount }} word{{ content|wordcount|pluralize }}. | {{comment|minute_read}}</small>

    </ul>
      {% endif %}
    </div>

  <!--/div-->
</div>
<div class="row">
  <div class="card-panel">

      {% include "comments/form.html" %}
      <br>
  </div>
</div>

</div>
</div>
{% endblock %}
