{% extends "django_comments_xtd/base.html" %}
{% load i18n %}
{% load comments_xtd %}

{% block title %}{% trans "Preview your comment" %}{% endblock %}

{% block content %}

<div class="row">
  <div class="col m3"></div>

  <div class="col m6">
    <div class="card">
      <div class="card-content">
        <h4 class="center-align">{% trans "Preview your comment" %}</h4>
        <p class="center-align">
          {% trans "Preview your comment for:" %}<br/>
          <a href="{{ form.target_object.get_absolute_url }}">{{ form.target_object }}</a>
        </p>
      </div>

  <!--div class="col-lg-offset-2 col-md-offset-2 col-lg-8 col-md-8"-->

    <div class="hide-on-small-only">
      <hr/>
    </div>

    <div class="card-content">
      {% if not comment %}
      <em>{% trans "Empty comment." %}</em>
      {% else %}
      <ul>
      <li class="collection-item avatar">
        <a href="{{ user.profile.get_absolute_url }}">
          <img src="{{ user.profile.image.thumbnail.25x25 }}" alt="" class="circle"/></a>
        </a>

      <span class="title">
          {% now "N j, Y, P" %}&nbsp;-&nbsp;
          {% if form.cleaned_data.url %}
          <a href="{{ form.cleaned_data.url }}" target="_new">{% endif %}
            {{ form.cleaned_data.name }}
            {% if form.cleaned_data.url %}</a>{% endif %}
      </span>
      </li>

        <p>{{ comment }}</p>
      
    </ul>
      {% endif %}
    </div>

  <!--/div-->
</div>
<div class="row">
  <div class="card">
      {% include "comments/form.html" %}
      <br>
  </div>
</div>

</div>
</div>
{% endblock %}
