{% if allow_feedback %}
<span class="small">
  {% if show_feedback and user.is_authenticated %}
  <a href="" data-toggle="tooltip" title="{{ item.likedit_users|slice:":5"|join:'<br/>' }}{% if item.likedit_users|length > 5 %} and {{ item.likedit_users|length|add:"-5" }} other{{ item.likedit_users|length|pluralize }}...{% endif %}">
    <span class="small" id="liked_{{item.comment.pk}}">{{ item.likedit_users|length }}</span></a>
  {% endif %}

  <a data-toggle="tooltip" title="like" id={{item.comment.pk}} class="like-comment {% if item.likedit %}liked{% endif %}"><i class="angle double up icon mtl {% if item.likedit %}blue{% else %}grey{% endif %}"></i></a>
  <span class="text-muted">|</span>

  {% if show_feedback %}
  <a href="" data-toggle="tooltip" title="{{ item.dislikedit_users|slice:":5"|join:'<br/>' }}{% if item.dislikedit_users|length > 5 %}and {{ item.dislikedit_users|length|add:"-5" }} other{{ item.dislikedit_users|length|pluralize }}...{% endif %}">
    <span class="small" id="disliked_{{item.comment.pk}}">{{ item.dislikedit_users|length }}</span></a>
  {% endif %}

  <a data-toggle="tooltip" title="dislike" id={{item.comment.pk}} class="dislike-comment {% if item.dislikedit %}disliked{% endif %}"><i class="angle double down icon mtdl {% if item.dislikedit %}red-text{% else %}grey{% endif %}"></i></a>
</span>
{% endif %}
