{% if allow_feedback %}
<span class="small">
  {% if show_feedback %}
  <a data-toggle="tooltip" title="{{ item.likedit_users|join:'<br/>' }}"><span class="small" id="liked_{{item.comment.pk}}">{{ item.likedit_users|length }}</span></a>
  {% endif %}

  <a id={{item.comment.pk}} class="like-comment {% if not item.likedit %}mutedlink{% endif %}"><i class="tiny material-icons">thumb_up</i></a>
  <span class="text-muted">|</span>

  {% if show_feedback %}
  <a data-toggle="tooltip" title="{{ item.dislikedit_users|join:'<br/>' }}"><span class="small" id="disliked_{{item.comment.pk}}">{{ item.dislikedit_users|length }}</span></a>
  {% endif %}

  <a id={{item.comment.pk}} class="dislike-comment {% if not item.dislikedit %}mutedlink{% endif %}"><i class="tiny material-icons blue-text">thumb_down</i></a>
</span>
{% endif %}
